@use '../foundation/variables' as *;

[theme='theme-wm'] {
  --icon-size: 18px;

  --icon-background-primary: #{$brand-primary};
  --icon-background-secondary: #{$brand-secondary};
  --icon-background-tertiary: #{$brand-tertiary};
  --icon-background-dark: #{$ui-dark};
  --icon-background-light: #{$ui-light};

  --icon-background-border: 1px solid #{$ui-dark-lighten-70};

  --icon-background-small-height: 30px;
  --icon-background-small-width: 30px;
  --icon-background-small-border-radius: 15px;
  --icon-small-size: 16px;

  --icon-background-medium-height: 40px;
  --icon-background-medium-width: 40px;
  --icon-background-medium-border-radius: 0;
  --icon-medium-size: 32px;

  --icon-background-large-height: 45px;
  --icon-background-large-width: 45px;
  --icon-background-large-border-radius: 0;
  --icon-large-size: 45px;

  --icon-color-primary: #{$brand-primary};
  --icon-color-secondary: #{$brand-secondary};
  --icon-color-tertiary: #{$brand-tertiary};
  --icon-color-dark: #{$ui-dark};
  --icon-color-light: #{$ui-light};
}
