//Breakpoints
$break-xsmall: 0 !default;
$break-small: 640px !default;
$break-medium: 1024px !default;
$break-large: 1280px !default;
$break-xlarge: 1440px !default;

//Responsive Design Mixin
//
//ex. @include breakpoint(sm){ * scss for screens 640px < * }
//ex. @include breakpoint(md){ * scss for screens 1024px < * }
//ex. @include breakpoint(lg){ * scss for screens 1280px < * }
//ex. @include breakpoint(xl){ * scss for screens 1440px < * }

@mixin breakpoint($media) {
  @if $media == xs {
    @media only screen and (max-width: $break-small) {
      @content;
    }
  } @else if $media == sm {
    @media only screen and (min-width: $break-small) {
      @content;
    }
  } @else if $media == md {
    @media only screen and (min-width: $break-medium) {
      @content;
    }
  } @else if $media == lg {
    @media only screen and (min-width: $break-large) {
      @content;
    }
  } @else if $media == xl {
    @media only screen and (min-width: $break-xlarge) {
      @content;
    }
  }
}
