@use '../foundation/variables' as *;

[theme='theme-ar'] {
  --body-width: 100%;
  --body-padding: 60px #{$space-00} #{$space-00} #{$space-00};
  --body-border-left: #{$border-00};
  --body-border-right: #{$border-00};
}
