@use '../foundation/variables' as *;

[theme='theme-ar'] {
  --footer-width: 100%;
  --footer-height: auto;
  --footer-background: #{$ui-dark};
  --footer-box-shadow: none;
  --footer-container-width: 100%;
  --footer-border: #{$border-00};
}
