@use '../foundation/variables' as *;

[theme='theme-ar'] {
  --header-background: #{$ui-light};
  --header-height: 60px;
  --header-width: 100%;
  --header-position: fixed;
  --header-box-shadow: none;
  --header-border: #{$border-00};
  --header-container-width: 1300px;
}
