@use '../foundation/variables' as *;

[theme='theme-ar'] {
  --body-margin: #{$space-00};
  --body-mobile-margin: #{$space-00};
  --body-tablet-margin: #{$space-00};
  --body-background: none;

  --page-background: #{$ui-light};
  --page-box-shadow: none;
  --page-width: 100%;
  --page-padding: #{$space-00};
  --page-min-height: 0;
}
