@use '../foundation/variables' as *;

[theme='theme-ar'] {
  --section-padding: #{$space-05};
  --section-width: calc(100% - (#{$space-05} * 2));

  --section-mobile-padding: #{$space-03};
  --section-mobile-width: calc(100% - (#{$space-03} * 2));

  --section-xsmall-padding: #{$space-03};
  --section-xsmall-width: calc(100% - (#{$space-03} * 2));

  --section-small-padding: #{$space-05};
  --section-small-width: calc(100% - (#{$space-05} * 2));

  --section-large-padding: #{$space-09};
  --section-large-width: calc(100% - (#{$space-09} * 2));

  --section-xlarge-padding: #{$space-10};
  --section-xlarge-width: calc(100% - (#{$space-10} * 2));

  --section-container-width: 1300px;
  --section-container-margin: auto;

  --section-background-primary: #{$brand-primary};
  --section-background-secondary: #{$brand-secondary};
  --section-background-tertiary: #{$brand-tertiary};
  --section-background-light: #{$ui-dark-lighten-95};
  --section-background-dark: #{$ui-dark};
}
