@use '../foundation/variables' as *;

[theme='theme-ar'] {
  --stack-spacing-small: #{$space-02};
  --stack-spacing-medium: #{$space-06};
  --stack-spacing-large: #{$space-09};

  --stack-border: #{$border-02};
}
