@use '../foundation/variables' as *;

[theme='theme-ar'] {
  --icon-size: 24px;

  --icon-background-primary: #{$brand-primary};
  --icon-background-secondary: #{$brand-secondary};
  --icon-background-tertiary: #{$brand-tertiary};
  --icon-background-dark: #{$ui-dark};
  --icon-background-light: #{$ui-light};

  --icon-background-border: 1px solid #{$ui-dark-lighten-60};

  --icon-background-small-height: 24px;
  --icon-background-small-width: 24px;
  --icon-background-small-border-radius: 12px;
  --icon-small-size: 12px;

  --icon-background-medium-height: 40px;
  --icon-background-medium-width: 40px;
  --icon-background-medium-border-radius: 20px;
  --icon-medium-size: 24px;

  --icon-background-large-height: 50px;
  --icon-background-large-width: 50px;
  --icon-background-large-border-radius: 25px;
  --icon-large-size: 32px;

  --icon-color-primary: #{$brand-primary};
  --icon-color-secondary: #{$brand-secondary};
  --icon-color-tertiary: #{$brand-tertiary};
  --icon-color-dark: #{$ui-dark};
  --icon-color-light: #{$ui-light};
}
