@use '../foundation/variables' as *;

[theme='theme-ds'] {
  --body-width: calc(100% - #{$space-10});
  --body-padding: #{$space-08};
  --body-sidebar-mobile-padding: 90px #{$space-08} #{$space-08} #{$space-08};

  --body-sidebar-column-start: 2;
  --body-sidebar-column-end: 3;
  --body-sidebar-row-start: 2;
  --body-sidebar-row-end: 3;
}
