@use '../foundation/variables' as *;

[theme='theme-ds'] {
  --card-background-color: #{$ui-light};
  --card-box-shadow: #{$box-shadow-01};
  --card-border-radius: #{$border-radius-02};
  --card-section-border: 1px solid #{$ui-dark-lighten-60};
  --card-margin-bottom: #{$space-00};
  --card-mobile-margin-bottom: #{$space-08};
  --card-padding: #{$space-07};

  --card-xsmall-padding: #{$space-02};
  --card-xsmall-width: calc(100% - (#{$space-02} * 2));

  --card-small-padding: #{$space-05};
  --card-small-width: calc(100% - (#{$space-05} * 2));

  --card-large-padding: #{$space-08};
  --card-large-width: calc(100% - (#{$space-08} * 2));

  --card-xlarge-padding: #{$space-10};
  --card-xlarge-width: calc(100% - (#{$space-10} * 2));

  --card-mobile-padding: #{$space-04};

  --card-overlap-width: 90%;
  --card-overlap-margin: -28px auto 0;
  --card-overlapped-padding: #{$space-08};

  --card-color-primary-background: #{$brand-primary};
  --card-color-secondary-background: #{$brand-secondary};
  --card-color-tertiary-background: #{$brand-tertiary};
  --card-color-soft-primary-background: #{$brand-primary-lighten-35};
  --card-color-soft-secondary-background: #{$brand-secondary-lighten-35};
  --card-color-soft-tertiary-background: #{$brand-tertiary-lighten-35};
  --card-color-light-background: #{$ui-dark-lighten-60};
  --card-color-dark-background: #{$ui-dark};
}
