@use '../foundation/variables' as *;

[theme='theme-ds'] {
  --footer-width: 100%;
  --footer-height: #{$space-11};
  --footer-background: #{$ui-light};
  --footer-box-shadow: #{$box-shadow-01};
  --footer-container-width: calc(100% - #{$space-10});
}
