@use '../foundation/variables' as *;

[theme='theme-ds'] {
  --header-background: #{$brand-primary};
  --header-height: 71px;
  --header-width: 100%;
  --header-position: fixed;
  --header-box-shadow: #{$box-shadow-01};
  --header-container-width: calc(100% - #{$space-10});
}
