@use '../foundation/variables' as *;

[theme='theme-ds'] {
  --body-margin: 0;
  --body-background: none;

  --page-with-sidebar-columns: var(--sidebar-width) auto;
  --page-with-sidebar-rows: var(--header-height) auto var(--footer-height);

  --page-background: #{$ui-dark-lighten-65};
  --page-width: 100%;
  --page-min-height: 100vh;
}
