@use '../foundation/variables' as *;

[theme='theme-ds'] {
  --sidebar-width: 250px;
  --sidebar-height: calc(100% - 71px);
  --sidebar-position: fixed;
  --sidebar-background: #{$ui-light};
  --sidebar-box-shadow: #{$box-shadow-02};

  --sidebar-container-height: calc(100% - 80px);
  --sidebar-container-width: calc(100% + 17px);
  --sidebar-container-padding: 40px 0px 40px 40px;
}
