@use '../foundation/variables' as *;

[theme='theme-ds'] {
  --stack-spacing-small: #{$space-01};
  --stack-spacing-medium: #{$space-05};
  --stack-spacing-large: #{$space-09};

  --stack-border: 1px solid #{$brand-tertiary};
}
