@use '../foundation/variables' as *;

[theme='theme-ds'] {
  --table-width: 100%;
  --table-border-top: 1px solid #{$ui-dark-lighten-60};
  --table-border-right: 1px solid #{$ui-dark-lighten-60};
  --table-border-bottom: 1px solid #{$ui-dark-lighten-60};
  --table-border-left: 1px solid #{$ui-dark-lighten-60};
  --table-zebra-even-background: #{$ui-dark-lighten-65};
  --table-cell-padding: #{$space-04};
  --table-cell-mobile-padding: #{$space-02};
}
