@use '../foundation/variables' as *;

[theme='theme-hv'] {
  --input-width: 100%;

  --input-label-font-family: #{$font-family-primary};
  --input-label-color: #{$ui-dark};
  --input-label-font-size: #{$font-size-03};
  --input-label-font-weight: normal;
  --input-label-margin-left: #{$space-02};
  --input-label-bottom: #{$space-11};
  --input-label-transition: #{$transition-02};
  --input-label-position: absolute;

  --input-input-font-family: #{$font-family-primary};
  --input-input-color: #{$ui-dark};
  // --input-input-background: #{$ui-dark-lighten-80};
  --input-input-font-size: #{$font-size-04};
  --input-input-width: calc(100% - (#{$space-04} * 2));
  --input-input-padding: #{$space-04};
  --input-input-border-top: 2px solid #{$ui-dark-lighten-85};
  --input-input-border-right: 2px solid #{$ui-dark-lighten-85};
  --input-input-border-bottom: 2px solid #{$ui-dark-lighten-85};
  --input-input-border-left: 2px solid #{$ui-dark-lighten-85};
  --input-input-margin-bottom: #{$space-06};
  --input-input-line-height: #{$line-height-02};

  --input-focus-label-bottom: #{$space-11};
  --input-focus-label-font-size: #{$font-size-03};
}
