@use './variables' as *;

[theme='theme-wm'] {
  --divider-width: 100%;
  --divider-height: 1px;
  --divider-background: #{$ui-dark-lighten-70};
  --divider-margin: #{$space-12} #{$space-00};

  // --divider-small-margin: 15px 0;

  // --divider-decorative-height: 4px;
  // --divider-decorative-width: 30px;
  // --divider-decorative-margin: 20px 0;
  // --divider-decorative-background: #{$brand-primary};
}
