@use './variables' as *;

[theme='theme-wm'] {
  --quote-font-family: #{$font-family-primary};
  --quote-color: #{$brand-primary};
  --quote-font-size: #{$font-size-05};
  --quote-line-height: #{$line-height-05};
  --quote-font-weight: bold;
  --quote-margin: #{$space-10};
  --quote-padding: #{$space-08};
  --quote-text-align: center;

  --quote-decoration-background: #{$brand-tertiary};
  --quote-decoration-width: 200px;
  --quote-decoration-height: 3px;
  --quote-decoration-left: -100px;

  --quote-left-width: 60%;
  --quote-left-margin: #{$space-03} #{$space-04} #{$space-04} #{$space-00};

  --quote-right-width: 60%;
  --quote-right-margin: #{$space-03} #{$space-00} #{$space-04} #{$space-04};
}
