@use '../foundation/variables' as *;

[theme='theme-ar'] {
  --link-font-family: #{$font-family-primary};
  --link-font-size: #{$font-size-03};
  --link-font-weight: normal;
  --link-default-color: #{$ui-dark};
  // --link-text-transform:
  // --link-text-letter-spacing
  --link-text-decoration: none;
  // --link-text-transition
  --link-hover-text-decoration: underline;
  --link-text-line-height: #{$space-08};
  --link-text-padding: #{$space-00} #{$space-04};

  --link-active-background: #{$brand-primary};
  --link-active-color: #{$ui-light};

  --link-color-primary: #{$brand-primary};
  --link-color-secondary: #{$brand-secondary};
  --link-color-tertiary: #{$brand-tertiary};
  --link-color-light: #{$ui-light};
  --link-color-dark: #{$ui-dark};

  --link-small-font-size: #{$font-size-02};
  --link-large-font-size: #{$font-size-05};

  --link-inline-paragraph-color: #{$text-tertiary};
  --link-inline-paragraph-text-decoration: underline;
  --link-inline-paragraph-hover-text-decoration: none;
}
