@use '../foundation/variables' as *;

[theme='theme-hv'] {
  --slider-width: 100%;
  --slider-height: initial;
  --slider-gap: 0;
  --slider-padding: 0;
  --slider-background: transparent;

  --slider-container-height: 100%;
  --slider-container-width: 100%;
  --slider-container-padding: 0;
  --slider-container-mobile-height: 100%;
  --slider-container-mobile-width: 100%;
  --slider-container-mobile-padding: 0;
  // --slider-container-collapse-height: 100%;
  // --slider-container-collapse-width: 100%;
  // --slider-container-collapse-padding: 0;

  --slider-dot-background: #{$brand-primary};

  // --slider-buttons-border-top: #{$border-01};
  // --slider-buttons-padding: #{$space-04} #{$space-00};
  // --slider-button-prev-width: 50%;
  // --slider-button-next-width: 50%;
  // --slider-button-prev-border: #{$border-01};
}
