@use '../foundation/variables' as *;

[theme='theme-hv'] {
  --dropdown-background: #{$ui-dark};
  --dropdown-top: 50px;
  --dropdown-right: 30px;
  --dropdown-left: initial;
  --dropdown-padding: #{$space-05};
  // --dropdown-border-radius: #{$border-radius-03};
  --dropdown-opacity: 0;
  --dropdown-transition: #{$transition-01};
  // --dropdown-box-shadow: #{$box-shadow-02};
  --dropdown-open-top: 80px;
  --dropdown-open-opacity: 1;
}
