@use '../foundation/variables' as *;

[theme='theme-hv'] {
  --modal-height: 100%;
  --modal-width: calc(100% + 17px);
  --modal-start-opacity: 0;
  --modal-end-opacity: 1;
  --modal-start-top: 100px;
  --modal-end-top: 0;
  --modal-left: 0;
  --modal-background: rgba(0, 0, 0, 0.5);
  --modal-transition: all 0.3s ease-in-out;

  --modal-close-height: 80px;
  --modal-close-width: 80px;
  --modal-close-border: 3px solid #000;
  --modal-close-background: transparent;
  --modal-close-top: 4px;
  --modal-close-right: 4px;
}
