@use '../foundation/variables' as *;

[theme='theme-hv'] {
  --body-width: 100%;
  // --body-padding: #{$space-08};

  --body-sidebar-column-start: 2;
  --body-sidebar-column-end: 3;
  --body-sidebar-row-start: 1;
  --body-sidebar-row-end: 2;
}
