@use '../foundation/variables' as *;

[theme='theme-hv'] {
  --footer-width: 100%;
  --footer-height: auto;
  --footer-background: #{$ui-dark-lighten-95};
  --footer-box-shadow: none;
  --footer-container-width: #{$max-width};
}
