@use '../foundation/variables' as *;

[theme='theme-hv'] {
  --navigation-width: 80%;
  --navigation-padding: #{$space-11} #{$space-00};

  // --navigation-group-width: var(--link-navigation-width);
  // --navigation-group-padding: var(--link-navigation-padding);

  // --navigation-group-label-font-family: var(--link-font-family);
  // --navigation-group-label-size: var(--link-font-size);
  // --navigation-group-label-weight: var(--link-font-weight);
  // --navigation-group-label-color: var(--link-default-color);
  // --navigation-group-label-margin: #{$space-00};

  // --navigation-group-dropdown-transition: #{$transition-02};
  // --navigation-group-dropdown-opacity-start: 0.0;
  // --navigation-group-dropdown-opacity-end: 1.0;
  // --navigation-group-dropdown-height-start: 0;
  // --navigation-group-dropdown-height-end: 300px;
  // --navigation-group-dropdown-margin-top-end: #{$space-04};
  // --navigation-group-dropdown-margin-bottom-end: #{$space-03};
  // --navigation-group-dropdown-padding: #{$space-01} #{$space-00} #{$space-01} #{$space-09};
}
