@use '../foundation/variables' as *;

[theme='theme-hv'] {
  --body-margin: #{$space-00};
  --body-background: #{$ui-light};

  --page-with-sidebar-columns: 250px auto;
  --page-with-sidebar-rows: auto 90px;

  --page-background: #{$ui-light};
  --page-width: 100%;
  --page-min-height: 100vh;
}
