@use '../foundation/variables' as *;

[theme='theme-hv'] {
  --sidebar-width: 210px;
  --sidebar-height: calc(100% - 120px);
  --sidebar-padding: 60px 0 60px 40px;
  --sidebar-position: fixed;
  --sidebar-background: #{$ui-light};

  // --sidebar-box-shadow: #{$box-shadow-02};

  --sidebar-container-height: 100%;
  --sidebar-container-width: calc(100% + 17px);
  --sidebar-container-padding: 0;
}
