@use '../foundation/variables' as *;

[theme='theme-hv'] {
  --table-width: 100%;
  --table-border-top: none;
  --table-border-right: none;
  --table-border-bottom: 2px solid #ededed;
  --table-border-left: none;
  --table-zebra-even-background: #{$ui-dark-lighten-85};
  --table-cell-padding: #{$space-05} #{$space-04};
  --table-margin-bottom: #{$space-07};
}
