@use './variables' as *;

[theme='theme-sd'] {
  --heading-01-font-family: #{$font-family-primary};
  --heading-01-color: #{$text-title};
  --heading-01-font-size: #{$font-size-08};
  --heading-01-line-height: #{$line-height-09};
  --heading-01-font-weight: normal;
  --heading-01-margin: 0;
  --heading-01-mobile-font-size: #{$font-size-07};
  --heading-01-mobile-line-height: #{$line-height-08};

  --heading-02-font-family: #{$font-family-secondary};
  --heading-02-color: #{$text-title};
  --heading-02-font-size: #{$font-size-07};
  --heading-02-line-height: #{$line-height-08};
  --heading-02-font-weight: normal;
  --heading-02-margin: 0;

  --heading-03-font-family: #{$font-family-primary};
  --heading-03-color: #{$text-title};
  --heading-03-font-size: #{$font-size-06};
  --heading-03-line-height: #{$line-height-07};
  --heading-03-font-weight: normal;
  --heading-03-margin: 0;

  --heading-04-font-family: #{$font-family-secondary};
  --heading-04-color: #{$text-title};
  --heading-04-font-size: #{$font-size-03};
  --heading-04-line-height: #{$line-height-06};
  --heading-04-font-weight: bold;
  --heading-04-margin: 0;
  --heading-04-letter-spacing: 0.25em;

  --heading-05-font-family: #{$font-family-primary};
  --heading-05-color: #{$text-title};
  --heading-05-font-size: #{$font-size-05};
  --heading-05-line-height: #{$line-height-05};
  --heading-05-font-weight: normal;
  --heading-05-margin: 0;

  // --heading-06-font-family: #{$font-family-primary};
  // --heading-06-color: #{$text-title};
  // --heading-06-font-size: #{$font-size-02};
  // --heading-06-line-height: #{$line-height-02};
  // --heading-06-font-weight: bold;
  // --heading-06-margin: 0;

  --heading-color-primary: #{$text-primary};
  --heading-color-secondary: #{$text-secondary};
  --heading-color-tertiary: #{$text-tertiary};
}
