@use './variables' as *;

[theme='theme-sd'] {
  --quote-font-family: #{$font-family-primary};
  --quote-color: #{$brand-primary};
  --quote-font-size: #{$font-size-06};
  --quote-line-height: #{$line-height-09};
  --quote-font-weight: normal;
  --quote-margin: #{$space-09} #{$space-06};
  --quote-padding: #{$space-09} #{$space-06};
  --quote-text-align: center;

  --quote-decoration-background: none;
  --quote-decoration-width: 0px;
  --quote-decoration-height: 0px;
  --quote-decoration-left: 0px;

  --quote-left-width: 60%;
  --quote-left-margin: #{$space-03} #{$space-04} #{$space-04} #{$space-00};

  --quote-right-width: 60%;
  --quote-right-margin: #{$space-03} #{$space-00} #{$space-04} #{$space-04};
}
