@use 'sass:color';

// Colors
$brand-primary: #d3784a;
$brand-secondary: #e5e1d7;
$brand-tertiary: #e3ac8c;

$ui-light: #ffffff;
$ui-dark: #234a53;

$system-info: #234aa1;
$system-success: #227526;
$system-warning: #d3af61;
$system-danger: #cc3b3b;

$ui-dark-lighten-70: color.adjust($ui-dark, $lightness: 70%);
$ui-dark-lighten-60: color.adjust($ui-dark, $lightness: 60%);
$ui-dark-lighten-50: color.adjust($ui-dark, $lightness: 50%);
$ui-dark-lighten-40: color.adjust($ui-dark, $lightness: 40%);
$ui-dark-lighten-30: color.adjust($ui-dark, $lightness: 30%);
$ui-dark-lighten-20: color.adjust($ui-dark, $lightness: 20%);
$ui-dark-lighten-05: color.adjust($ui-dark, $lightness: 5%);
$ui-dark-darken-10: color.adjust($ui-dark, $lightness: -10%);

$brand-primary-darken-10: color.adjust($brand-primary, $lightness: -10%);
$brand-primary-lighten-35: color.adjust($brand-primary, $lightness: 35%);

$brand-secondary-darken-10: color.adjust($brand-secondary, $lightness: -10%);
$brand-secondary-lighten-35: color.adjust($brand-secondary, $lightness: 10%);

$brand-tertiary-darken-10: color.adjust($brand-tertiary, $lightness: -10%);
$brand-tertiary-lighten-35: color.adjust($brand-tertiary, $lightness: 10%);

$system-info-darken-10: color.adjust($system-info, $lightness: -10%);
$system-info-lighten-35: color.adjust($system-info, $lightness: 35%);

$system-success-darken-10: color.adjust($system-success, $lightness: -10%);
$system-success-lighten-35: color.adjust($system-success, $lightness: 35%);

$system-warning-darken-10: color.adjust($system-warning, $lightness: -10%);
$system-warning-lighten-35: color.adjust($system-warning, $lightness: 25%);

$system-danger-darken-10: color.adjust($system-danger, $lightness: -10%);
$system-danger-lighten-35: color.adjust($system-danger, $lightness: 25%);

// Space
$space-00: 0px;
$space-01: 4px;
$space-02: 8px;
$space-03: 10px;
$space-04: 12px;
$space-05: 14px;
$space-06: 16px;
$space-07: 20px;
$space-08: 24px;
$space-09: 30px;
$space-10: 36px;
$space-11: 48px;
$space-12: 54px;
$space-13: 80px;
$space-14: 96px;
$space-15: 112px;
$space-16: 142px;
$space-17: 178px;

// Font Familys
$font-family-primary: 'Playfair Display', serif;
$font-family-secondary: 'Josefin Sans', sans-serif;

// Font Sizes
$font-size-01: 12px;
$font-size-02: 13px;
$font-size-03: 14px;
$font-size-04: 16px;
$font-size-05: 20px;
$font-size-06: 28px;
$font-size-07: 30px;
$font-size-08: 38px;

// Line Heights
$line-height-01: 15px;
$line-height-02: 16px;
$line-height-03: 17px;
$line-height-04: 19px;
$line-height-05: 20px;
$line-height-06: 24px;
$line-height-07: 28px;
$line-height-08: 32px;
$line-height-09: 39px;

// Font Colors
$text-body: $ui-dark;
$text-title: $ui-dark;
$text-subdued: $ui-dark;
$text-link: $brand-primary;
$text-primary: $brand-primary;
$text-secondary: $brand-secondary;
$text-tertiary: $brand-tertiary;

// Border Radius
$border-radius-00: 0;
$border-radius-01: 3px;
$border-radius-02: 5px;
$border-radius-03: 7px;
$border-radius-04: 23px;

// Transitions
$transition-01: all 0.2s ease-in-out;
$transition-02: all 0.3s ease-in-out;

// Box Shadow
$box-shadow-00: none;
$box-shadow-01: 0 0.25rem 0.75rem rgb(18 38 63 / 8%);
$box-shadow-02: 0 0.5rem 1rem rgb(0 0 0 / 10%);
