@use '../foundation/variables' as *;

[theme='theme-sd'] {
  --link-font-family: #{$font-family-secondary};
  --link-font-size: #{$font-size-02};
  --link-font-weight: bold;
  --link-default-color: #{$ui-dark};
  --link-text-transform: uppercase;
  --link-text-letter-spacing: 0.25em;
  --link-text-decoration: none;
  --link-transition: #{$transition-01};
  --link-hover-text-decoration: none;

  --link-color-primary: #{$brand-primary};
  --link-color-secondary: #{$brand-secondary};
  --link-color-tertiary: #{$brand-tertiary};
  --link-color-light: #{$ui-light};
  --link-color-dark: #{$ui-dark};

  --link-small-font-size: #{$font-size-02};
  --link-large-font-size: #{$font-size-05};

  --link-inline-paragraph-color: #{$text-primary};
  --link-inline-paragraph-text-decoration: none;
  --link-inline-paragraph-hover-text-decoration: underline;
}
