@use '../foundation/variables' as *;

[theme='theme-sd'] {
  --accordion-padding: #{$space-07} #{$space-00} #{$space-00} #{$space-00};
  --accordion-width: 100%;
  --accordion-border: 1px solid #{$ui-dark-lighten-70};
  --accordion-header-padding: #{$space-00} #{$space-00} #{$space-07} #{$space-00};
  --accordion-body-transition: #{$transition-02};
  --accordion-body-max-height: 600px;
  --accordion-trigger-margin: #{$space-11};
}
