@use '../foundation/variables' as *;

[theme='theme-sd'] {
  --footer-width: 100%;
  --footer-height: auto;
  --footer-background: #{$ui-light};
  --footer-box-shadow: none;
  --footer-container-width: 100%;
}
