@use '../foundation/variables' as *;

[theme='theme-sd'] {
  --header-background: #fff;
  --header-height: 145px;
  --header-width: 100%;
  --header-position: relative;
  --header-box-shadow: none;
  --header-container-width: 90%;
}
