@use './variables' as *;

[theme='theme-ar'] {
  --divider-width: 100%;
  --divider-height: 1px;
  --divider-background: #dadada;
  --divider-margin: 50px auto;

  --divider-small-margin: 15px 0;

  --divider-decorative-height: 4px;
  --divider-decorative-width: 30px;
  --divider-decorative-margin: 20px 0;
  --divider-decorative-background: #{$brand-primary};
}
