@use './variables' as *;

[theme='theme-ar'] {
  --paragraph-font-family: #{$font-family-secondary};
  --paragraph-font-size: #{$font-size-03};
  --paragraph-line-height: #{$line-height-03};
  --paragraph-color: #{$text-body};
  --paragraph-margin: #{$space-00} #{$space-00} #{$space-04} #{$space-00};
  --paragraph-transition: #{$transition-02};

  --paragraph-micro-font-size: #{$font-size-02};
  --paragraph-micro-color: #{$text-subdued};
  --paragraph-micro-line-height: #{$line-height-01};
  --paragraph-micro-margin: #{$space-00};

  --paragraph-in-link-font-size: #{$font-size-03};
  --paragraph-in-link-color: #{$ui-dark};
  --paragraph-in-link-hover-color: #{$brand-primary};
}
