@use './variables' as *;

[theme='theme-ar'] {
  --quote-font-family: #{$font-family-primary};
  --quote-color: #{$ui-dark};
  --quote-font-size: #{$font-size-06};
  --quote-line-height: #{$line-height-06};
  --quote-font-weight: 500;
  --quote-margin: #{$space-06} #{$space-00};
  --quote-padding: #{$space-06} #{$space-06};
  --quote-text-align: center;

  --quote-decoration-background: #{$brand-primary};
  --quote-decoration-width: 300px;
  --quote-decoration-height: 3px;
  --quote-decoration-left: -150px;

  --quote-left-width: 50%;
  --quote-left-margin: #{$space-03} #{$space-04} #{$space-04} #{$space-00};

  --quote-right-width: 50%;
  --quote-right-margin: #{$space-03} #{$space-00} #{$space-04} #{$space-04};
}
