[theme="theme-ar"] {
	--theme-switch-display: none;
	
	--stage-ar-display: block;
	--stage-ds-display: none;
	--stage-sd-display: none;
	--stage-ed-display: none;
	--stage-hv-display: none;
	--stage-wm-display: none;
	--stage-dl-display: none;
}