@use 'sass:color';

// Colors
$brand-primary: #f24d7c;
$brand-secondary: #f2987d;
$brand-tertiary: #f2e2a1;

$ui-light: #f5f6f5;
$ui-dark: #000000;

$system-info: #6cc0e4;
$system-success: #4cae4f;
$system-warning: #ffcb3d;
$system-danger: #ff6e61;

$ui-dark-lighten-95: color.adjust($ui-dark, $lightness: 95%);
$ui-dark-lighten-93: color.adjust($ui-dark, $lightness: 93%);
$ui-dark-lighten-85: color.adjust($ui-dark, $lightness: 85%);
$ui-dark-lighten-60: color.adjust($ui-dark, $lightness: 60%);
$ui-dark-lighten-20: color.adjust($ui-dark, $lightness: 18%);
$ui-dark-lighten-10: color.adjust($ui-dark, $lightness: 10%);

$brand-primary-darken-10: color.adjust($brand-primary, $lightness: -10%);
$brand-primary-lighten-35: color.adjust($brand-primary, $lightness: 15%);

$brand-secondary-darken-10: color.adjust($brand-secondary, $lightness: -10%);
$brand-secondary-lighten-35: color.adjust($brand-secondary, $lightness: 45%);

$brand-tertiary-darken-10: color.adjust($brand-tertiary, $lightness: -10%);
$brand-tertiary-lighten-35: color.adjust($brand-tertiary, $lightness: 10%);

$system-info-darken-10: color.adjust($system-info, $lightness: -10%);
$system-info-lighten-35: color.adjust($system-info, $lightness: 35%);

$system-success-darken-10: color.adjust($system-success, $lightness: -10%);
$system-success-lighten-35: color.adjust($system-success, $lightness: 35%);

$system-warning-darken-10: color.adjust($system-warning, $lightness: -10%);
$system-warning-lighten-35: color.adjust($system-warning, $lightness: 35%);

$system-danger-darken-10: color.adjust($system-danger, $lightness: -10%);
$system-danger-lighten-35: color.adjust($system-danger, $lightness: 25%);

// Space
$space-00: 0px;
$space-01: 4px;
$space-02: 8px;
$space-03: 12px;
$space-04: 18px;
$space-05: 24px;
$space-06: 32px;
$space-07: 48px;
$space-08: 64px;
$space-09: 80px;
$space-10: 96px;
$space-11: 112px;
$space-12: 128px;

// Font Familys
$font-family-primary: 'Inter Tight', serif;
$font-family-secondary: 'Inter Tight', serif;

// Font Sizes
$font-size-01: 10px;
$font-size-02: 12px;
$font-size-03: 15px;
$font-size-04: 1.125rem;
$font-size-05: 1.25rem;
$font-size-06: 1.5rem;
$font-size-07: 3rem;
$font-size-08: 5rem;
$font-size-09: clamp(3rem, 8.5vw, 7.5rem);

// Line Heights
$line-height-01: 150%;
$line-height-02: 150%;
$line-height-03: 150%;
$line-height-04: 150%;
$line-height-05: 150%;
$line-height-06: 150%;
$line-height-07: 150%;
$line-height-08: 150%;
$line-height-09: 150%;

// Font Colors
$text-body: $ui-dark-lighten-10;
$text-title: $ui-dark-lighten-10;
$text-subdued: $ui-dark-lighten-60;
$text-link: $brand-secondary;
$text-primary: $brand-primary;
$text-secondary: $brand-secondary;
$text-tertiary: $brand-tertiary;

// Border Radius
$border-radius-00: 0;
$border-radius-01: 5px;
$border-radius-02: 20px;

// Transitions
$transition-01: all 0.3s ease-in-out;
$transition-02: all 0.4s ease-in-out;

// Box Shadow
$box-shadow-00: none;
$box-shadow-01: inset 0 -1px 0 #ececec;
$box-shadow-02: 70px 70px 70px 10px rgba(0, 0, 0, 0.3);

// Width
$max-width: 1110px;

// Borders
$border-00: none;
$border-01: 2px solid $brand-primary;
$border-02: 1px solid #dadada;
$border-03: 1px solid $brand-primary;
$border-04: 1px solid transparent;
