@use '../foundation/variables' as *;

[theme='theme-dl'] {
  --card-background-color: #{$ui-light};
  --card-box-shadow: none;
  --card-border-radius: #{$border-radius-00};
  --card-section-border: none;
  --card-margin-bottom: #{$space-00};
  --card-padding: #{$space-07};

  --card-xsmall-padding: #{$space-02} #{$space-07};
  --card-xsmall-width: calc(100% - (#{$space-07} * 2));

  --card-small-padding: #{$space-05} #{$space-07};
  --card-small-width: calc(100% - (#{$space-07} * 2));

  --card-large-padding: #{$space-09} #{$space-07};
  --card-large-width: calc(100% - (#{$space-07} * 2));

  --card-xlarge-padding: #{$space-12} #{$space-07};
  --card-xlarge-width: calc(100% - (#{$space-07} * 2));

  --card-mobile-padding: #{$space-03};

  --card-overlap-width: 90%;
  --card-overlap-margin: -40px auto 0;
  --card-overlapped-padding: 40px;

  --card-color-primary-background: #{$brand-primary};
  --card-color-secondary-background: #{$brand-secondary};
  --card-color-tertiary-background: #{$brand-tertiary};
  --card-color-soft-primary-background: #{$brand-primary-lighten-35};
  --card-color-soft-secondary-background: #{$brand-secondary-lighten-35};
  --card-color-soft-tertiary-background: #{$brand-tertiary-lighten-35};
  --card-color-light-background: #{$ui-dark-lighten-65};
  --card-color-dark-background: #{$ui-dark};
}
