@use '../foundation/variables' as *;

[theme='theme-dl'] {
  --footer-width: 100%;
  --footer-height: auto;
  --footer-background: #{$brand-primary};
  --footer-box-shadow: none;
  --footer-container-width: #{$max-width};
}
