@use '../foundation/variables' as *;

[theme='theme-dl'] {
  --section-padding: #{$space-08} #{$space-00};
  --section-width: 100%;
  --section-mobile-padding: #{$space-03};
  --section-mobile-width: calc(100% - (#{$space-03} * 2));

  --section-xsmall-padding: #{$space-00};
  --section-xsmall-width: 100%;

  --section-small-padding: #{$space-05} #{$space-00};
  --section-small-width: 100%;

  --section-large-padding: #{$space-14} #{$space-00} #{$space-09} #{$space-00};
  --section-large-width: 100%;

  --section-xlarge-padding: #{$space-15} #{$space-00} #{$space-10} #{$space-00};
  --section-xlarge-width: 100%;

  --section-container-width: #{$max-width};
  --section-container-margin: auto;

  --section-background-primary: #{$brand-primary};
  --section-background-secondary: #{$brand-secondary};
  --section-background-tertiary: #{$brand-tertiary};
  --section-background-light: #{$ui-dark-lighten-65};
  --section-background-dark: #{$ui-dark};
}
