@use '../foundation/variables' as *;

[theme='theme-ed'] {
  --dropdown-background: #{$ui-light};
  --dropdown-top: 90px;
  --dropdown-right: 20px;
  // --dropdown-left: initial;
  --dropdown-padding: #{$space-05};
  // --dropdown-border-radius: #{$border-radius-03};
  --dropdown-opacity: 0;
  --dropdown-transition: #{$transition-01};
  --dropdown-box-shadow: #{$box-shadow-02};
  --dropdown-open-top: 70px;
  --dropdown-open-opacity: 1;
}
