@use '../foundation/variables' as *;

[theme='theme-wm'] {
  --textarea-width: 100%;

  --textarea-label-font-family: #{$font-family-secondary};
  --textarea-label-color: #{$ui-dark};
  --textarea-label-font-size: #{$font-size-03};
  --textarea-label-margin-left: #{$space-02};
  --textarea-label-bottom: #{$space-12};
  --textarea-label-transition: #{$transition-02};
  --textarea-label-position: absolute;

  --textarea-input-font-family: #{$font-family-secondary};
  --textarea-input-color: #{$ui-dark};
  // --textarea-input-background: #{$ui-dark-lighten-80};
  --textarea-input-font-size: #{$font-size-04};
  --textarea-input-width: calc(100% - (#{$space-08} + #{$space-08} + 2px));
  --textarea-input-padding: #{$space-04};
  --textarea-input-border-top: 1px solid #{$ui-dark-lighten-70};
  --textarea-input-border-right: 1px solid #{$ui-dark-lighten-70};
  --textarea-input-border-bottom: 1px solid #{$ui-dark-lighten-70};
  --textarea-input-border-left: 1px solid #{$ui-dark-lighten-70};
  --textarea-input-margin-bottom: #{$space-05};
  --textarea-input-line-height: #{$line-height-02};

  --textarea-focus-label-bottom: #{$space-12};
  --textarea-focus-label-font-size: #{$font-size-03};
}
