@use '../foundation/variables' as *;

[theme='theme-sd'] {
  --dropdown-background: #{$brand-primary};
  --dropdown-top: 70px;
  --dropdown-right: 0;
  --dropdown-left: initial;
  --dropdown-padding: #{$space-05};
  --dropdown-border-radius: #{$border-radius-03};
  --dropdown-opacity: 0;
  --dropdown-transition: #{$transition-01};
  --dropdown-box-shadow: #{$box-shadow-02};
  --dropdown-open-top: 50px;
  --dropdown-open-opacity: 1;
}
