@use '../foundation/variables' as *;

[theme='theme-sd'] {
  --icon-size: 14px;

  --icon-background-primary: #{$brand-primary};
  --icon-background-secondary: #{$brand-secondary};
  --icon-background-tertiary: #{$brand-tertiary};
  --icon-background-dark: #{$ui-dark};
  --icon-background-light: #{$ui-light};

  --icon-background-small-height: 20px;
  --icon-background-small-width: 20px;
  --icon-background-small-border-radius: 10px;
  --icon-small-size: 10px;

  --icon-background-medium-height: 28px;
  --icon-background-medium-width: 28px;
  --icon-background-medium-border-radius: 14px;
  --icon-medium-size: 14px;

  --icon-background-large-height: 48px;
  --icon-background-large-width: 48px;
  --icon-background-large-border-radius: 24px;
  --icon-large-size: 36px;

  --icon-color-primary: #{$brand-primary};
  --icon-color-secondary: #{$brand-secondary};
  --icon-color-tertiary: #{$brand-tertiary};
  --icon-color-dark: #{$ui-dark};
  --icon-color-light: #{$ui-light};
}
