<template>
  <PageTemplate>
    <Section size="large">
      <Heading size="2">Dallas</Heading>
      <Paragraph>Axiom Design System Theme</Paragraph>
      <Images image="theme-ar/dallas1.png" height="500px" align="top" width="100%" />
    </Section>
    <Section size="large">
      <Grid>
        <GridContainer size="4">
          <Heading size="4" decor="l">Project Details</Heading>
        </GridContainer>
        <GridContainer size="8">
          <Heading size="4"> A creative direction inspired by artists. </Heading>
          <Paragraph>
            I wanted to put art at the center of the strategy by giving it an important place in the
            simple highlighting of photography of the site. From this strategy emerges an
            interactive, visual, and content-rich site, perfectly promoting the modernity of the
            company.
          </Paragraph>
          <Paragraph>
            To highlight the creations, I started by collecting photographs of works to use on the
            website. It is with this material that I have tried to create an original representation
            in a refined site. I created a simple one-page site, but rich in visual elements.
          </Paragraph>
          <Button
            label="Visit Website"
            url="/dallas"
            newTab
            color="primary"
            iconColor="light"
            icon="arrow_forward"
          />
        </GridContainer>
        <GridContainer size="4"> </GridContainer>
        <GridContainer size="4">
          <Images image="theme-ar/dallas3.jpg" height="300px" align="top" />
        </GridContainer>
        <GridContainer size="4">
          <Images image="theme-ar/dallas2.jpg" />
        </GridContainer>
      </Grid>
    </Section>
    <Section size="xlarge">
      <Heading size="2">Next</Heading>
      <Link url="/portfolio/edison">
        <Grid>
          <GridContainer size="5">
            <Stack space="1">
              <Heading size="5">Edison Theme</Heading>
              <Icon icon="arrow_forward" color="dark"></Icon>
            </Stack>
          </GridContainer>
          <GridContainer size="7">
            <Paragraph>
              As in all corporate domains, it is sometimes difficult to come up with a creative
              approach that does not undermine the professionalism. For the Edison theme, I wanted
              to provide this creative response that would allow a company to stand out and above
              all to have a brand image worthy of the innovative solutions they offer.
            </Paragraph>
          </GridContainer>
        </Grid>
        <Images image="theme-ar/edison1.png" height="500px" align="top" width="100%" />
      </Link>
    </Section>
  </PageTemplate>
</template>

<script>
import PageTemplate from '@/views/annarobbins/template/Page.vue'
export default {
  components: {
    PageTemplate,
  },
  props: {
    theme: String,
  },
  mounted() {
    let bodyElement = document.documentElement
    localStorage.setItem('theme', this.theme)
    bodyElement.setAttribute('theme', this.theme)
  },
}
</script>

<style lang="scss"></style>
