<template>
  <PageTemplate>
    <Section size="large">
      <Heading size="2">Edison</Heading>
      <Paragraph>Axiom Design System Theme</Paragraph>
      <Images image="theme-ar/edison1.png" height="500px" align="top" width="100%" />
    </Section>
    <Section size="large">
      <Grid>
        <GridContainer size="4">
          <Heading size="4" decor="l">Project Details</Heading>
        </GridContainer>
        <GridContainer size="8">
          <Heading size="4"> An informative site for partners and collaborators. </Heading>
          <Paragraph>
            As in all corporate domains, it is sometimes difficult to come up with a creative
            approach that does not undermine the professionalism. For the Edison theme, I wanted to
            provide this creative response that would allow a company to stand out and above all to
            have a brand image worthy of the innovative solutions they offer.
          </Paragraph>
          <Paragraph>
            I am committed to providing a creative response to areas which, by definition, do not
            lend themselves to it. For Edison Digital, the idea was to bring an ergonomics serving
            design, conveyed by a spacious page layout, and light micro-interactions to give a
            dynamic and different user-experience.
          </Paragraph>
          <Button
            label="Visit Website"
            url="/edison"
            newTab
            color="primary"
            iconColor="light"
            icon="arrow_forward"
          />
        </GridContainer>
        <GridContainer size="4"> </GridContainer>
        <GridContainer size="4">
          <Images image="theme-ar/edison2.jpg" border />
        </GridContainer>
        <GridContainer size="4"> </GridContainer>
      </Grid>
    </Section>
    <Section size="xlarge">
      <Heading size="2">Next</Heading>
      <Link url="/portfolio/havelock">
        <Grid>
          <GridContainer size="5">
            <Stack space="1">
              <Heading size="5">Havelock Theme</Heading>
              <Icon icon="arrow_forward" color="dark"></Icon>
            </Stack>
          </GridContainer>
          <GridContainer size="7">
            <Paragraph>
              The havelock theme inspires fun and play. I wanted to keep this spirit by enhancing
              and adding a strong artistic component to the graphic identity. I imagined an
              interface giving clarity of the information, but rich in visual elements.
            </Paragraph>
          </GridContainer>
        </Grid>
        <Images image="theme-ar/havelock1.png" height="500px" align="top" width="100%" />
      </Link>
    </Section>
  </PageTemplate>
</template>

<script>
import PageTemplate from '@/views/annarobbins/template/Page.vue'
export default {
  components: {
    PageTemplate,
  },
  props: {
    theme: String,
  },
  mounted() {
    let bodyElement = document.documentElement
    localStorage.setItem('theme', this.theme)
    bodyElement.setAttribute('theme', this.theme)
  },
}
</script>

<style lang="scss"></style>
