<template>
  <PageTemplate>
    <Section size="large">
      <Heading size="2">Havelock</Heading>
      <Paragraph>Axiom Design System Theme</Paragraph>
      <Images image="theme-ar/havelock1.png" height="500px" align="top" width="100%" />
    </Section>
    <Section size="large">
      <Grid>
        <GridContainer size="4">
          <Heading size="4" decor="l">Project Details</Heading>
        </GridContainer>
        <GridContainer size="8">
          <Heading size="4"> An informative site for partners and collaborators. </Heading>
          <Paragraph>
            The havelock theme inspires fun and play. I wanted to keep this spirit by enhancing and
            adding a strong artistic component to the graphic identity. I imagined an interface
            giving clarity of the information, but rich in visual elements.
          </Paragraph>
          <Paragraph>
            I wanted to create a very simple and uncluttered site, to highlight the photographs of
            the collections as best as possible. The main idea was to offer a site faithful to the
            artistic direction, for an interactive immersion in the artist's universe.
          </Paragraph>
          <Button
            label="Visit Website"
            url="/havelock"
            newTab
            color="primary"
            iconColor="light"
            icon="arrow_forward"
          />
        </GridContainer>
        <GridContainer size="4"> </GridContainer>
        <GridContainer size="4">
          <Images image="theme-ar/havelock2.jpg" border />
        </GridContainer>
        <GridContainer size="4"> </GridContainer>
      </Grid>
    </Section>
    <Section size="xlarge">
      <Heading size="2">Next</Heading>
      <Link url="/portfolio/sedona">
        <Grid>
          <GridContainer size="5">
            <Stack space="1">
              <Heading size="5">Sedona Theme</Heading>
              <Icon icon="arrow_forward" color="dark"></Icon>
            </Stack>
          </GridContainer>
          <GridContainer size="7">
            <Paragraph>
              I have chosen a simple guideline: to create an identity as fresh and colorful as a day
              in Sedona. I created a graphic universe based on a soothing color palette, reminiscent
              of warm dessert and cool blue water tones, and a range of photographs showcasing the
              same colorful characteristics.
            </Paragraph>
          </GridContainer>
        </Grid>
        <Images image="theme-ar/sedona1.png" height="500px" align="top" width="100%" />
      </Link>
    </Section>
  </PageTemplate>
</template>

<script>
import PageTemplate from '@/views/annarobbins/template/Page.vue'
export default {
  components: {
    PageTemplate,
  },
  props: {
    theme: String,
  },
  mounted() {
    let bodyElement = document.documentElement
    localStorage.setItem('theme', this.theme)
    bodyElement.setAttribute('theme', this.theme)
  },
}
</script>

<style lang="scss"></style>
