<template>
  <PageTemplate>
    <Section size="large">
      <Heading size="2">Sedona</Heading>
      <Paragraph>Axiom Design System Theme</Paragraph>
      <Images image="theme-ar/sedona1.png" height="500px" align="top" width="100%" />
    </Section>
    <Section size="large">
      <Grid>
        <GridContainer size="4">
          <Heading size="4" decor="l">Project Details</Heading>
        </GridContainer>
        <GridContainer size="8">
          <Heading size="4"> Feel the energy of the place. </Heading>
          <Paragraph>
            I have chosen a simple guideline: to create an identity as fresh and colorful as a day
            in Sedona. I created a graphic universe based on a soothing color palette, reminiscent
            of warm dessert and cool blue water tones, and a range of photographs showcasing the
            same colorful characteristics.
          </Paragraph>
          <Paragraph>
            From the homepage, the site offers a wide variety of interactive and immersive content
            that will encourage the user to explore.
          </Paragraph>
          <Button
            label="Visit Website"
            url="/sedona"
            newTab
            color="primary"
            iconColor="light"
            icon="arrow_forward"
          />
        </GridContainer>
        <GridContainer size="4"> </GridContainer>
        <GridContainer size="4">
          <Images image="theme-ar/sedona2.jpg" border />
        </GridContainer>
        <GridContainer size="4">
          <Images image="theme-ar/sedona3.jpg" border />
        </GridContainer>
      </Grid>
    </Section>
    <Section size="xlarge">
      <Heading size="2">Next</Heading>
      <Link url="/portfolio/windermere">
        <Grid>
          <GridContainer size="5">
            <Stack space="1">
              <Heading size="5">Windermere Theme</Heading>
              <Icon icon="arrow_forward" color="dark"></Icon>
            </Stack>
          </GridContainer>
          <GridContainer size="7">
            <Paragraph>
              The goal was to create an immersive website accessible to as many people as possible.
              The content being visually rich, it was necessary to optimize the experience to
              accompany the visitor with any device.
            </Paragraph>
          </GridContainer>
        </Grid>
        <Images image="theme-ar/windermere1.png" height="500px" align="top" width="100%" />
      </Link>
    </Section>
  </PageTemplate>
</template>

<script>
import PageTemplate from '@/views/annarobbins/template/Page.vue'
export default {
  components: {
    PageTemplate,
  },
  props: {
    theme: String,
  },
  mounted() {
    let bodyElement = document.documentElement
    localStorage.setItem('theme', this.theme)
    bodyElement.setAttribute('theme', this.theme)
  },
}
</script>

<style lang="scss"></style>
