<template>
  <PageTemplate>
    <Section size="large">
      <Heading size="2">Windermere</Heading>
      <Paragraph>Axiom Design System Theme</Paragraph>
      <Images image="theme-ar/windermere1.png" height="500px" align="top" width="100%" />
    </Section>
    <Section size="large">
      <Grid>
        <GridContainer size="4">
          <Heading size="4" decor="l">Project Details</Heading>
        </GridContainer>
        <GridContainer size="8">
          <Heading size="4"> Feel the energy of the place. </Heading>
          <Paragraph>
            The goal was to create an immersive website accessible to as many people as possible.
            The content being visually rich, it was necessary to optimize the experience to
            accompany the visitor with any device.
          </Paragraph>
          <Paragraph>
            The first objective was to have a design and a user experience designed to highlight the
            brand. The design thus plays on cool greens, marble accents, and warm images to stick to
            the atmosphere of the latter.
          </Paragraph>
          <Paragraph>
            The second objective was to make an easy and obvious link between the content, the
            visuals and the accessibility. The overall experience of the site is based on a balance
            between these three points.
          </Paragraph>
          <Button
            label="Visit Website"
            url="/windermere"
            newTab
            color="primary"
            iconColor="light"
            icon="arrow_forward"
          />
        </GridContainer>
        <GridContainer size="4"> </GridContainer>
        <GridContainer size="4">
          <Images image="theme-ar/windermere2.jpg" border />
        </GridContainer>
        <GridContainer size="4"> </GridContainer>
      </Grid>
    </Section>
    <Section size="xlarge">
      <Heading size="2">Next</Heading>
      <Link url="/portfolio/dallas">
        <Grid>
          <GridContainer size="5">
            <Stack space="1">
              <Heading size="5">Dallas Theme</Heading>
              <Icon icon="arrow_forward" color="dark"></Icon>
            </Stack>
          </GridContainer>
          <GridContainer size="7">
            <Paragraph>
              I wanted to put art at the center of the strategy by giving it an important place in
              the simple highlighting of photography of the site. From this strategy emerges an
              interactive, visual, and content-rich site, perfectly promoting the modernity of the
              company.
            </Paragraph>
          </GridContainer>
        </Grid>
        <Images image="theme-ar/dallas1.png" height="500px" align="top" width="100%" />
      </Link>
    </Section>
  </PageTemplate>
</template>

<script>
import PageTemplate from '@/views/annarobbins/template/Page.vue'
export default {
  components: {
    PageTemplate,
  },
  props: {
    theme: String,
  },
  mounted() {
    let bodyElement = document.documentElement
    localStorage.setItem('theme', this.theme)
    bodyElement.setAttribute('theme', this.theme)
  },
}
</script>

<style lang="scss"></style>
