<template>
  <PageTemplate>
    <Grid>
      <GridContainer size="12">
        <Heading size="3">Overlay</Heading>
      </GridContainer>
    </Grid>
  </PageTemplate>
</template>

<script>
import PageTemplate from '@/views/designsystem/template/Page.vue'
export default {
  components: {
    PageTemplate,
  },
  data() {
    return {
      theme: '',
    }
  },
  mounted() {
    setTimeout(() => {
      this.$stageTheme(this.theme)
    }, 30)
  },
}
</script>

<style lang="scss" scoped></style>
