@use './variables' as *;

[theme='theme-ed'] {
  --quote-font-family: #{$font-family-primary};
  --quote-color: #{$brand-primary};
  --quote-font-size: #{$font-size-07};
  --quote-line-height: #{$line-height-04};
  --quote-font-weight: bold;
  --quote-margin: #{$space-05} #{$space-09};
  --quote-padding: #{$space-05} #{$space-05};
  --quote-text-align: center;

  --quote-decoration-background: #{$ui-dark-lighten-80};
  --quote-decoration-width: 200px;
  --quote-decoration-height: 2px;
  --quote-decoration-left: -100px;

  --quote-left-width: 50%;
  --quote-left-margin: #{$space-03} #{$space-05} #{$space-04} #{$space-00};

  --quote-right-width: 50%;
  --quote-right-margin: #{$space-03} #{$space-00} #{$space-04} #{$space-05};
}
