@use '../foundation/variables' as *;

[theme='theme-ds'] {
  --drawer-background: #fff;
  --drawer-top: 71px;
  --drawer-left: -310px;
  --drawer-padding: 0;
  --drawer-transition: all 0.2s ease-in-out;
  --drawer-box-shadow: 0 0.25rem 0.75rem rgb(18 38 63 / 8%);
  --drawer-width: 250px;
  --drawer-height: calc(100% - 70px);
  --drawer-open-left: -28px;

  --drawer-container-height: calc(100% - 80px);
  --drawer-container-width: calc(100% + 17px);
  --drawer-container-padding: 40px 0px 40px 40px;
}
