@use '../foundation/variables' as *;

[theme='theme-ds'] {
  --dropdown-background: #fff;
  --dropdown-top: 81px;
  --dropdown-right: 0;
  --dropdown-left: initial;
  --dropdown-padding: 4px;
  --dropdown-border-radius: 7px;
  --dropdown-opacity: 0;
  --dropdown-transition: all 0.2s ease-in-out;
  --dropdown-box-shadow: 0 0.25rem 0.75rem rgb(18 38 63 / 8%);
  --dropdown-open-top: 71px;
  --dropdown-open-opacity: 1;
}
