<template>
  <div class="color" @mousemove="handleMouseMove" @mouseleave="hover = false">
    <div class="circle circle--small" :style="'margin-left:' + mousePosition.x + ';'"></div>
    <div class="circle circle--large"></div>
    <div v-if="hover">
      <h1 style="color: #fff">
        Mouse position is at {{ mousePosition.x }}
        {{ mousePosition.y }}
      </h1>
    </div>
  </div>
</template>

<script>
import { reactive } from 'vue'
export default {
  props: {
    title: String,
    color: String,
  },
  data() {
    return {
      mousePosition: reactive({
        x: 0,
        y: 0,
      }),
      hover: false,
    }
  },
  methods: {
    handleMouseMove(event) {
      this.hover = true
      this.mousePosition.x = event.clientX
      this.mousePosition.y = event.clientY
    },
  },
}
</script>

<style lang="scss" scoped>
@use '@/assets/scss/breakpoints.scss' as *;

.color {
  background-color: #1e2023;
  height: 100vh;
  width: 100vh;
  display: fixed;
}
.circle {
  height: 500px;
  width: 500px;
  border-radius: 50%;
  background: blue;
}
.circle--large {
  left: 60%;
  top: 15%;
  background: #f2987d;
  -webkit-box-shadow: 0px 0px 50px 50px #f2987d;
  -moz-box-shadow: 0px 0px 50px 50px #f2987d;
  box-shadow: 0px 0px 50px 50px #f2987d;
  opacity: 0.7;
}
.circle--small {
  left: 50%;
  top: 20%;
  background: #f2e2a1;
  -webkit-box-shadow: 0px 0px 50px 50px #f2e2a1;
  -moz-box-shadow: 0px 0px 50px 50px #f2e2a1;
  box-shadow: 0px 0px 50px 50px #f2e2a1;
  opacity: 0.8;
}
</style>

<!-- Used in : AR -->
