<template>
  <PageTemplate>
    <Section>
      <!-- <Color></Color> -->
      <Grid>
        <GridContainer size="12">
          <Heading size="1" align="center">Front-End Developer</Heading>
        </GridContainer>
        <GridContainer size="4"> </GridContainer>
        <GridContainer size="4"> </GridContainer>
        <GridContainer size="4">
          <Paragraph>
            Hello! I'm Anna Robbins. I am a remote front-end developer, with over 14 years of
            experience.
          </Paragraph>
          <Paragraph>
            I'm passionate about creating innovative solutions with thoughtful user experiences. I
            love bringing ideas to life and crafting magical moments, all while staying focused on
            design, accessibility, performance, and clean, well-organized code.
          </Paragraph>
        </GridContainer>
        <GridContainer size="4">
          <Images image="theme-ar/computer1.jpeg" width="100%" />
        </GridContainer>
        <GridContainer size="4">
          <Stack direction="column" justify="spaceBetween" height="100%">
            <Images image="theme-ar/computer2.jpeg" width="100%" />
            <Stack align="left" width="100%" visibility="hide show@md">
              <Link
                color="primary"
                icon="arrow_downward"
                @click.native="scrollMeTo('works')"
                text="Scroll to see more"
                url="/"
              ></Link>
            </Stack>
          </Stack>
        </GridContainer>
        <GridContainer size="4">
          <Images image="theme-ar/computer3.jpeg" width="100%" />
        </GridContainer>
      </Grid>
    </Section>
    <div ref="works" class="anchor"></div>
    <Section size="large">
      <Grid>
        <GridContainer size="12 4@md">
          <Heading size="4" decor="l">Works</Heading>
        </GridContainer>
        <GridContainer size="12 8@md">
          <Stack direction="column" space="2" width="100%">
            <Divider></Divider>
            <Link url="/design-system" newTab>
              <Stack width="100%" direction="column row@sm" justify="spaceBetween">
                <Stack direction="column" align="left">
                  <Heading size="6">00</Heading>
                  <Heading size="4">Axiom Design System</Heading>
                </Stack>
                <Images image="theme-ar/axiom1.png" width="450px" height="240px" align="top" />
              </Stack>
            </Link>
            <Divider></Divider>
            <Link url="/portfolio/dallas">
              <Stack width="100%" direction="column row@sm" justify="spaceBetween">
                <Stack direction="column" align="left">
                  <Heading size="6">01</Heading>
                  <Heading size="4">Dallas</Heading>
                </Stack>
                <Images image="theme-ar/dallas1.jpg" width="450px" height="240px" align="top" />
              </Stack>
            </Link>
            <Divider></Divider>
            <Link url="/portfolio/edison">
              <Stack width="100%" direction="column row@sm" justify="spaceBetween">
                <Stack direction="column" align="left">
                  <Heading size="6">02</Heading>
                  <Heading size="4">Edison</Heading>
                </Stack>
                <Images image="theme-ar/edison1.jpg" width="450px" height="240px" align="top" />
              </Stack>
            </Link>
            <Divider></Divider>
            <Link url="/portfolio/havelock">
              <Stack width="100%" direction="column row@sm" justify="spaceBetween">
                <Stack direction="column" align="left">
                  <Heading size="6">03</Heading>
                  <Heading size="4">Havelock</Heading>
                </Stack>
                <Images image="theme-ar/havelock1.jpg" width="450px" height="240px" align="top" />
              </Stack>
            </Link>
            <Divider></Divider>
            <Link url="/portfolio/sedona">
              <Stack width="100%" direction="column row@sm" justify="spaceBetween">
                <Stack direction="column" align="left">
                  <Heading size="6">04</Heading>
                  <Heading size="4">Sedona</Heading>
                </Stack>
                <Images image="theme-ar/sedona1.jpg" width="450px" height="240px" align="top" />
              </Stack>
            </Link>
            <Divider></Divider>
            <Link url="/portfolio/windermere">
              <Stack width="100%" direction="column row@sm" justify="spaceBetween">
                <Stack direction="column" align="left">
                  <Heading size="6">05</Heading>
                  <Heading size="4">Windermere</Heading>
                </Stack>
                <Images image="theme-ar/windermere3.jpg" width="450px" height="240px" align="top" />
              </Stack>
            </Link>
          </Stack>
        </GridContainer>
      </Grid>
    </Section>

    <Section size="large">
      <Grid>
        <GridContainer size="12">
          <Heading size="4" decor="l">Services</Heading>
        </GridContainer>
        <GridContainer size="12 4@md">
          <Card color="light">
            <CardSection>
              <Stack direction="column" align="left">
                <Icon icon="insights" color="primary" size="large"></Icon>
                <Accordion label="Web Design" border="none">
                  <Paragraph>
                    • Custom Web Design: Tailored designs to reflect a brand and engage an audience.
                  </Paragraph>
                  <Paragraph>
                    • Responsive Design: Websites that look and perform beautifully on all devices.
                  </Paragraph>
                  <Paragraph>
                    • User Experience (UX) Design: Focused on creating intuitive, easy-to-navigate
                    websites.
                  </Paragraph>
                  <Paragraph>
                    • User Interface (UI) Design: Crafting visually appealing and functional
                    interfaces.
                  </Paragraph>
                  <Paragraph>
                    • Website Redesign: Refreshing a current site with modern design and improved
                    usability.
                  </Paragraph>
                  <Paragraph>
                    • Website Maintenance: Ongoing updates and improvements to keep about site
                    running smoothly.
                  </Paragraph>
                </Accordion>
              </Stack>
            </CardSection>
          </Card>
        </GridContainer>
        <GridContainer size="12 4@md">
          <Card color="light">
            <CardSection>
              <Stack direction="column" align="left">
                <Icon icon="poll" color="primary" size="large"></Icon>
                <Accordion label="Design Systems" border="none">
                  <Paragraph>
                    • Design System Creation: Developing comprehensive design systems tailored to
                    specific brand needs.
                  </Paragraph>
                  <Paragraph>
                    • UI Component Libraries: Building reusable, scalable components for consistent
                    user interfaces.
                  </Paragraph>
                  <Paragraph>
                    • Design System Audits: Reviewing and optimizing existing systems for efficiency
                    and consistency.
                  </Paragraph>
                  <Paragraph>
                    • Documentation and Training: Providing detailed documentation and training for
                    teams to use and maintain the design system.
                  </Paragraph>
                  <Paragraph>
                    • Version Control and Maintenance: Keeping the design system up-to-date with
                    regular updates and improvements.
                  </Paragraph>
                  <Paragraph>
                    • Design-to-Code Implementation: Ensuring smooth handoff between design and
                    development with clear, actionable assets.
                  </Paragraph>
                </Accordion>
              </Stack>
            </CardSection>
          </Card>
        </GridContainer>
        <GridContainer size="12 4@md">
          <Card color="light">
            <CardSection>
              <Stack direction="column" align="left">
                <Icon icon="emoji_objects" color="primary" size="large"></Icon>
                <Accordion label="Web Development" border="none">
                  <Paragraph>
                    • Front-End Development: Creating interactive, responsive user interfaces with
                    HTML, CSS, and JavaScript.
                  </Paragraph>
                  <Paragraph>
                    • API Integration: Integrating third-party APIs to enhance website functionality
                    and user experience.
                  </Paragraph>
                  <Paragraph>
                    • Website Maintenance &amp; Updates: Providing ongoing support, updates, and
                    troubleshooting for optimal website performance.
                  </Paragraph>
                  <Paragraph>
                    • Web Application Development: Building complex web applications that are
                    dynamic, interactive, and scalable.
                  </Paragraph>
                  <Paragraph>
                    • Performance Optimization: Enhancing website speed and performance for a smooth
                    user experience.
                  </Paragraph>
                </Accordion>
              </Stack>
            </CardSection>
          </Card>
        </GridContainer>
      </Grid>
    </Section>

    <Section size="large">
      <Grid>
        <GridContainer size="12 4@md">
          <Stack direction="column" space="2" align="left" width="100%">
            <Stack>
              <Heading size="4" decor="l">About</Heading>
            </Stack>
            <Images image="theme-ar/me.jpg" width="250px" />
            <Stack direction="column" space="1" align="left">
              <Button
                label="Linked In"
                url="//www.linkedin.com/in/anna-robbins-971086120/"
                newTab
                color="primary"
                iconColor="light"
                icon="arrow_forward"
              />
              <Button
                label="Resume"
                url="./src/assets/files/resume.pdf"
                newTab
                color="primary"
                iconColor="light"
                icon="arrow_forward"
              />
            </Stack>
          </Stack>
        </GridContainer>
        <GridContainer size="12 8@md">
          <Stack direction="column" space="2" align="left" width="100%">
            <Divider></Divider>
            <Stack direction="column" align="left" width="100%">
              <Stack width="100%" justify="spaceBetween">
                <Heading size="4">Software Engineer</Heading>
                <Paragraph>2022 - Present</Paragraph>
              </Stack>
              <Accordion border="none" label="Western Governors University">
                <Paragraph>
                  • Proficiency in Angular, SCSS, and JavaScript to create dynamic and interactive
                  web experiences.
                </Paragraph>
                <Paragraph>
                  • Ability to work with RESTful APIs to fetch and manipulate data dynamically in
                  web applications.
                </Paragraph>
                <Paragraph>
                  • Write clean, efficient code to implement new features and functionalities based
                  on project requirements.
                </Paragraph>
                <Paragraph>
                  • Develop, test, and deploy new features iteratively, ensuring adherence to
                  project timelines and quality standards.
                </Paragraph>
              </Accordion>
            </Stack>
            <Divider></Divider>
            <Stack direction="column" align="left" width="100%">
              <Stack width="100%" justify="spaceBetween">
                <Heading size="4">Design Engineer</Heading>
                <Paragraph>2019 - 2022</Paragraph>
              </Stack>
              <Accordion border="none" label="Passare">
                <Paragraph>
                  • Create and maintain a web and mobile design system with reusable components,
                  used across multiple projects.
                </Paragraph>
                <Paragraph> • Assess UX and UI design for technical feasibility. </Paragraph>
                <Paragraph>
                  • Work closely with product and development team members to meet project
                  requirements, goal and desired functionality.
                </Paragraph>
                <Paragraph> • On a weekly basis, mentor the product design intern. </Paragraph>
              </Accordion>
            </Stack>
            <Divider></Divider>
            <Stack direction="column" align="left" width="100%">
              <Stack width="100%" justify="spaceBetween">
                <Heading size="4">Web Designer</Heading>
                <Paragraph>2011 - 2019</Paragraph>
              </Stack>
              <Accordion border="none" label="Funeral Directors Life Insurance Company">
                <Paragraph>
                  • Created and maintained the corporate websites for FDLIC and DIG Subsidiary
                  companies.
                </Paragraph>
                <Paragraph>
                  • Presented designs and concepts to managers and shareholders for review.
                </Paragraph>
                <Paragraph>
                  • Maintained awareness of the web design industry, and new technologies.
                </Paragraph>
              </Accordion>
            </Stack>
          </Stack>
        </GridContainer>
      </Grid>
    </Section>
    <Section color="dark" size="large">
      <Grid>
        <GridContainer size="12 6@md">
          <Stack direction="row column@md" align="left" width="100%">
            <Section size="large">
              <Stack width="100%" direction="column" align="left" space="1">
                <Heading size="2" whiteout>Get in touch</Heading>
                <Paragraph whiteout>
                  I would love to hear from you! Send your message here and I will get back to you
                  as soon as possible.
                </Paragraph>
              </Stack>
            </Section>
          </Stack>
        </GridContainer>
        <GridContainer size="12 6@md">
          <Stack direction="column" align="left" width="100%" justify="spaceBetween" height="100%">
            <Form>
              <FormContainer size="12">
                <Input label="NAME" id="name" @input="nameValue" :error="requiredError" />
              </FormContainer>
              <FormContainer size="12">
                <Input label="EMAIL" id="email" @input="emailValue" :error="requiredError" />
              </FormContainer>
              <FormContainer size="12">
                <Input label="SUBJECT" id="subject" @input="subjectValue" />
              </FormContainer>
              <FormContainer size="12">
                <Textarea
                  label="MESSAGE"
                  id="message"
                  @textarea="messageValue"
                  :error="requiredError"
                />
              </FormContainer>
            </Form>
            <Stack width="100%" justify="center">
              <Paragraph whiteout>
                <span v-if="requiredError"> Please add your name, your email and a message. </span>
              </Paragraph>
            </Stack>
            <Button :label="errorMessage" v-if="errorMessage" color="danger" full size="large">
            </Button>
            <Button :label="successMessage" v-if="successMessage" color="primary" full size="large">
            </Button>
            <Button
              label="SEND MESSAGE"
              v-if="!successMessage && !errorMessage"
              color="primary"
              @click.native="formValidation()"
              full
              size="large"
            >
            </Button>
          </Stack>
        </GridContainer>
      </Grid>
    </Section>
  </PageTemplate>
</template>

<script>
import PageTemplate from '@/views/annarobbins/template/Page.vue'
import axios from 'axios'
export default {
  title: 'Anna Robbins',
  components: {
    PageTemplate,
  },
  props: {
    theme: String,
  },
  data() {
    return {
      name: '',
      email: '',
      subject: '',
      message: '',
      requiredError: false,
      successMessage: '',
      errorMessage: '',
    }
  },
  mounted() {
    let bodyElement = document.documentElement
    localStorage.setItem('theme', this.theme)
    bodyElement.setAttribute('theme', this.theme)
  },
  methods: {
    scrollMeTo(refName) {
      var element = this.$refs[refName]
      var top = element.offsetTop
      window.scrollTo({
        top: top,
        behavior: 'smooth',
      })
    },
    formValidation: function () {
      let error = false
      if (document.getElementById('name').value === '') {
        this.runError()
        return (error = true)
      }
      if (document.getElementById('email').value === '') {
        this.runError()
        return (error = true)
      }
      if (document.getElementById('message').value === '') {
        this.runError()
        return (error = true)
      }
      if (error === false) {
        this.createContact()
        this.requiredError = false
      }
    },
    createContact: function () {
      let app = this
      let formData = new FormData()
      formData.append('name', this.name)
      formData.append('email', this.email)
      formData.append('subject', this.subject)
      formData.append('message', this.message)

      var contact = {}
      formData.forEach(function (value, key) {
        contact[key] = value
      })

      axios({
        method: 'post',
        url: './src/assets/api/contacts.php',
        data: formData,
        config: { headers: { 'Content-Type': 'multipart/form-data' } },
      }).then(function () {
        app.runSuccess()
      })
    },
    runSuccess: function () {
      this.successMessage = 'MESSAGE SENT!'
      setTimeout(() => {
        this.successMessage = ''
      }, 10000)
    },
    runError: function () {
      this.requiredError = true
      this.errorMessage = 'MESSAGE ERROR!'
      setTimeout(() => {
        this.errorMessage = ''
      }, 10000)
    },
    nameValue: function (params) {
      this.name = params
    },
    emailValue: function (params) {
      this.email = params
    },
    subjectValue: function (params) {
      this.subject = params
    },
    messageValue: function (params) {
      this.message = params
    },
  },
}
</script>

<style lang="scss"></style>
