<template>
  <PageTemplate>
    <Grid>
      <GridContainer size="12">
        <Stack border="b">
          <Section>
            <Heading size="1" uppercase>Portfolio</Heading>
          </Section>
        </Stack>
      </GridContainer>
    </Grid>
    <Grid>
      <GridContainer size="6">
        <Stack width="100%">
          <Link url="/portfolio/dallas">
            <Section size="large">
              <Stack direction="column" align="center" space="1">
                <Heading size="5" uppercase>Dallas Art School</Heading>
                <Paragraph micro>Creative Website Design</Paragraph>
                <Laptop />
              </Stack>
            </Section>
          </Link>
        </Stack>
      </GridContainer>
      <GridContainer size="6">
        <Stack width="100%" border="l">
          <Link url="/portfolio/edison">
            <Section size="large">
              <Stack direction="column" align="center" space="1">
                <Heading size="5" uppercase>Edison Digital</Heading>
                <Paragraph micro>Corporate Website Design</Paragraph>
                <Laptop image="theme-ar/edison-thumbnail.jpg" />
              </Stack>
            </Section>
          </Link>
        </Stack>
      </GridContainer>
    </Grid>
    <Grid>
      <GridContainer size="12">
        <Stack border="b"></Stack>
      </GridContainer>
    </Grid>
    <Grid>
      <GridContainer size="6">
        <Stack width="100%">
          <Link url="/portfolio/havelock">
            <Section size="large">
              <Stack direction="column" align="center" space="1">
                <Heading size="5" uppercase>Carter Havelock</Heading>
                <Paragraph micro>Portfolio Website Design</Paragraph>
                <Laptop image="theme-ar/havelock-thumbnail.jpg" />
              </Stack>
            </Section>
          </Link>
        </Stack>
      </GridContainer>
      <GridContainer size="6">
        <Stack width="80%" height="100%" border="l">
          <Section size="large">
            <Stack direction="column" align="left" space="2">
              <Heading size="2" margin="none" uppercase>Design System</Heading>
              <Paragraph
                >Morbi laoreet quis lacus in venenatis. Aenean ullamcorper convallis mi sit amet
                mollis. Proin quis sapien id dolor facilisis volutpat eleifend sed turpis. Etiam
                efficitur dui malesuada vulputate viverra. Mauris nec risus elit. Aliquam felis
                ante, hendrerit sit amet tempus sed, convallis eu enim.</Paragraph
              >
              <Button url="/design-system" label="DESIGN SYSTEM" color="tertiary" />
            </Stack>
          </Section>
        </Stack>
      </GridContainer>
    </Grid>
    <Grid>
      <GridContainer size="12">
        <Stack border="b"></Stack>
      </GridContainer>
    </Grid>
    <Grid>
      <GridContainer size="6">
        <Stack width="100%">
          <Link url="/portfolio/sedona">
            <Section size="large">
              <Stack direction="column" align="center" space="1">
                <Heading size="5" uppercase>Sedona Day Spa</Heading>
                <Paragraph micro>Creative Website Design</Paragraph>
                <Laptop image="theme-ar/sedona-thumbnail.jpg" />
              </Stack>
            </Section>
          </Link>
        </Stack>
      </GridContainer>
      <GridContainer size="6">
        <Stack width="100%" border="l">
          <Link url="/portfolio/windermere">
            <Section size="large">
              <Stack direction="column" align="center" space="1">
                <Heading size="5" uppercase>Windermere Consulting</Heading>
                <Paragraph micro>Corporate Website Design</Paragraph>
                <Laptop />
              </Stack>
            </Section>
          </Link>
        </Stack>
      </GridContainer>
    </Grid>
  </PageTemplate>
</template>

<script>
import PageTemplate from '@/views/annarobbins/template/Page.vue'
export default {
  components: {
    PageTemplate,
  },
  props: {
    theme: String,
  },
  mounted() {
    let bodyElement = document.documentElement
    localStorage.setItem('theme', this.theme)
    bodyElement.setAttribute('theme', this.theme)
  },
}
</script>

<style lang="scss"></style>
