@use '../foundation/variables' as *;

[theme='theme-dl'] {
  --icon-size: 18px;

  --icon-background-primary: #{$brand-primary};
  --icon-background-secondary: #{$brand-secondary};
  --icon-background-tertiary: #{$brand-tertiary};
  --icon-background-dark: #{$ui-dark};
  --icon-background-light: #{$ui-dark-lighten-60};

  --icon-background-border: 2px solid #{$ui-light};

  --icon-background-small-height: 18px;
  --icon-background-small-width: 18px;
  --icon-background-small-border-radius: 9px;
  --icon-small-size: 10px;

  --icon-background-medium-height: 38px;
  --icon-background-medium-width: 38px;
  --icon-background-medium-border-radius: 20px;
  --icon-medium-size: 16px;

  --icon-background-large-height: 80px;
  --icon-background-large-width: 80px;
  --icon-background-large-border-radius: 40px;
  --icon-large-size: 30px;

  --icon-color-primary: #{$brand-primary};
  --icon-color-secondary: #{$brand-secondary};
  --icon-color-tertiary: #{$brand-tertiary};
  --icon-color-dark: #{$ui-dark};
  --icon-color-light: #{$ui-light};
}
