@use '../foundation/variables' as *;

[theme='theme-sd'] {
  --input-width: 100%;

  --input-label-font-family: #{$font-family-secondary};
  --input-label-color: #{$ui-dark-lighten-30};
  --input-label-font-size: #{$font-size-04};
  --input-label-font-weight: normal;
  --input-label-margin-left: #{$space-08};
  --input-label-bottom: #{$space-07};
  --input-label-transition: #{$transition-02};
  --input-label-position: absolute;

  --input-input-font-family: #{$font-family-secondary};
  --input-input-color: #{$ui-dark};
  --input-input-background: #{$ui-light};
  --input-input-font-size: #{$font-size-04};
  --input-input-width: calc(100% - (#{$space-08} + #{$space-08} + 2px));
  --input-input-padding: #{$space-08} #{$space-08} #{$space-04} #{$space-08};
  --input-input-border-top: 1px solid #{$ui-dark-lighten-70};
  --input-input-border-right: 1px solid #{$ui-dark-lighten-70};
  --input-input-border-bottom: 1px solid #{$ui-dark-lighten-70};
  --input-input-border-left: 1px solid #{$ui-dark-lighten-70};
  --input-input-margin-bottom: #{$space-00};
  --input-input-line-height: #{$line-height-02};

  --input-focus-label-bottom: #{$space-10};
  --input-focus-label-font-size: #{$space-04};
}
