@use '../foundation/variables' as *;

[theme='theme-dl'] {
  --form-margins: #{$space-09} #{$space-00} #{$space-00} #{$space-00};
  --form-mobile-margins: #{$space-09} #{$space-00} #{$space-00} #{$space-00};
  --form-gutters: #{$space-01};
}
