@use '../foundation/variables' as *;

[theme='theme-dl'] {
  --input-width: 100%;

  --input-label-font-family: #{$font-family-secondary};
  --input-label-color: #{$ui-dark};
  --input-label-font-size: #{$font-size-01};
  --input-label-font-weight: normal;
  --input-label-margin-left: #{$space-01};
  --input-label-bottom: 90px;
  --input-label-transition: #{$transition-02};
  --input-label-position: absolute;

  --input-input-font-family: #{$font-family-secondary};
  --input-input-color: #{$ui-dark};
  --input-input-background: #{$ui-light};
  --input-input-font-size: #{$font-size-02};
  --input-input-width: calc(100% - (#{$space-02} + #{$space-02} + 2px));
  --input-input-padding: #{$space-02};
  --input-input-border-top: 1px solid #{$ui-dark-lighten-65};
  --input-input-border-right: 1px solid #{$ui-dark-lighten-65};
  --input-input-border-bottom: 1px solid #{$ui-dark-lighten-65};
  --input-input-border-left: 1px solid #{$ui-dark-lighten-65};
  --input-input-margin-bottom: #{$space-09};
  --input-input-line-height: #{$line-height-02};

  --input-focus-label-bottom: 90px;
  --input-focus-label-font-size: #{$font-size-01};
}
