@use '../foundation/variables' as *;
@use '../foundation/colors' as *;

[theme='theme-ar'] {
  --button-default-padding: #{$space-01} #{$space-04};
  --button-default-border-radius: #{$border-radius-00};
  --button-default-transition: #{$transition-01};
  --button-default-line-height: #{$line-height-05};
  --button-default-font-family: #{$font-family-primary};
  --button-default-font-size: #{$font-size-03};
  --button-default-font-weight: normal;

  // --button-default-background: #{$ui-dark-lighten-20};
  // --button-default-border: 2px solid #{$ui-dark-lighten-20};
  // --button-default-color: #{$ui-light};
  // --button-default-hover-background: #{$ui-dark};
  // --button-default-hover-border: 2px solid #{$ui-dark};
  // --button-default-hover-color: #{$ui-light};

  // --button-default-outline-border: 2px solid #{$ui-dark};
  // --button-default-outline-background: none;
  // --button-default-outline-color: #{$ui-dark};
  // --button-default-outline-hover-background: #{$ui-dark};
  // --button-default-outline-hover-border: 2px solid #{$ui-dark};
  // --button-default-outline-hover-color: #{$ui-light};

  // --button-default-soft-border: 2px solid #{$ui-dark-lighten-85};
  // --button-default-soft-background: #{$ui-dark-lighten-85};
  // --button-default-soft-color: #{$ui-dark};
  // --button-default-soft-hover-background: #{$ui-dark-lighten-20};
  // --button-default-soft-hover-border: 2px solid #{$ui-dark-lighten-20};
  // --button-default-soft-hover-color: #{$ui-light};

  --button-primary-border: 2px solid #{$brand-primary};
  --button-primary-background: #{$brand-primary};
  --button-primary-color: #{$ui-light};
  --button-primary-hover-background: #{$brand-primary-darken-10};
  --button-primary-hover-border: 2px solid #{$brand-primary-darken-10};
  --button-primary-hover-color: #{$ui-light};

  --button-primary-outline-border: 2px solid #{$brand-primary};
  --button-primary-outline-background: none;
  --button-primary-outline-color: #{$brand-primary};
  --button-primary-outline-hover-background: #{$brand-primary};
  --button-primary-outline-hover-border: 2px solid #{$brand-primary};
  --button-primary-outline-hover-color: #{$ui-light};

  // --button-primary-soft-border: 2px solid #{$brand-primary-lighten-35};
  // --button-primary-soft-background: #{$brand-primary-lighten-35};
  // --button-primary-soft-color: #{$brand-primary};
  // --button-primary-soft-hover-border: 2px solid #{$brand-primary};
  // --button-primary-soft-hover-background: #{$brand-primary};
  // --button-primary-soft-hover-color: #{$ui-light};

  --button-secondary-border: 2px solid #{$brand-secondary};
  --button-secondary-background: #{$brand-secondary};
  --button-secondary-color: #{$ui-light};
  --button-secondary-hover-border: 2px solid #{$brand-secondary-darken-10};
  --button-secondary-hover-background: #{$brand-secondary-darken-10};
  --button-secondary-hover-color: #{$ui-light};

  --button-secondary-outline-border: 2px solid #{$brand-secondary};
  --button-secondary-outline-background: none;
  --button-secondary-outline-color: #{$brand-secondary};
  --button-secondary-outline-hover-border: 2px solid #{$brand-secondary};
  --button-secondary-outline-hover-background: #{$brand-secondary};
  --button-secondary-outline-hover-color: #{$ui-light};

  // --button-secondary-soft-border: 2px solid #{$brand-secondary-lighten-35};
  // --button-secondary-soft-background: #{$brand-secondary-lighten-35};
  // --button-secondary-soft-color: #{$brand-secondary};
  // --button-secondary-soft-hover-border: 2px solid #{$brand-secondary};
  // --button-secondary-soft-hover-background: #{$brand-secondary};
  // --button-secondary-soft-hover-color: #{$ui-light};

  --button-tertiary-border: 2px solid #{$brand-tertiary};
  --button-tertiary-background: #{$brand-tertiary};
  --button-tertiary-color: #{$ui-light};
  --button-tertiary-hover-border: 2px solid #{$brand-tertiary-darken-10};
  --button-tertiary-hover-background: #{$brand-tertiary-darken-10};
  --button-tertiary-hover-color: #{$ui-light};

  --button-tertiary-outline-border: 2px solid #{$brand-tertiary};
  --button-tertiary-outline-background: none;
  --button-tertiary-outline-color: #{$brand-tertiary};
  --button-tertiary-outline-hover-border: 2px solid #{$brand-tertiary};
  --button-tertiary-outline-hover-background: #{$brand-tertiary};
  --button-tertiary-outline-hover-color: #{$ui-light};

  // --button-tertiary-soft-border: 2px solid #{$brand-tertiary-lighten-35};
  // --button-tertiary-soft-background: #{$brand-tertiary-lighten-35};
  // --button-tertiary-soft-color: #{$brand-tertiary};
  // --button-tertiary-soft-hover-border: 2px solid #{$brand-tertiary};
  // --button-tertiary-soft-hover-background: #{$brand-tertiary};
  // --button-tertiary-soft-hover-color: #{$ui-light};

  // --button-success-border: 2px solid #{$system-success};
  // --button-success-background: #{$system-success};
  // --button-success-color: #{$ui-light};
  // --button-success-hover-border: 2px solid #{$system-success-darken-10};
  // --button-success-hover-background: #{$system-success-darken-10};
  // --button-success-hover-color: #{$ui-light};

  // --button-success-outline-border: 2px solid #{$system-success};
  // --button-success-outline-background: none;
  // --button-success-outline-color: #{$system-success};
  // --button-success-outline-hover-border: 2px solid #{$system-success};
  // --button-success-outline-hover-background: #{$system-success};
  // --button-success-outline-hover-color: #{$ui-light};

  // --button-success-soft-border: 2px solid #{$system-success-lighten-35};
  // --button-success-soft-background: #{$system-success-lighten-35};
  // --button-success-soft-color: #{$system-success};
  // --button-success-soft-hover-border: 2px solid #{$system-success};
  // --button-success-soft-hover-background: #{$system-success};
  // --button-success-soft-hover-color: #{$ui-light};

  // --button-info-border: 2px solid #{$system-info};
  // --button-info-background: #{$system-info};
  // --button-info-color: #{$ui-light};
  // --button-info-hover-border: 2px solid #{$system-info-darken-10};
  // --button-info-hover-background: #{$system-info-darken-10};
  // --button-info-hover-color: #{$ui-light};

  // --button-info-outline-border: 2px solid #{$system-info};
  // --button-info-outline-background: none;
  // --button-info-outline-color: #{$system-info};
  // --button-info-outline-hover-border: 2px solid #{$system-info};
  // --button-info-outline-hover-background: #{$system-info};
  // --button-info-outline-hover-color: #{$ui-light};

  // --button-info-soft-border: 2px solid #{$system-info-lighten-35};
  // --button-info-soft-background: #{$system-info-lighten-35};
  // --button-info-soft-color: #{$system-info};
  // --button-info-soft-hover-border: 2px solid #{$system-info};
  // --button-info-soft-hover-background: #{$system-info};
  // --button-info-soft-hover-color: #{$ui-light};

  // --button-warning-border: 2px solid #{$system-warning};
  // --button-warning-background: #{$system-warning};
  // --button-warning-color: #{$ui-light};
  // --button-warning-hover-border: 2px solid #{$system-warning-darken-10};
  // --button-warning-hover-background: #{$system-warning-darken-10};
  // --button-warning-hover-color: #{$ui-light};

  // --button-warning-outline-border: 2px solid #{$system-warning};
  // --button-warning-outline-background: none;
  // --button-warning-outline-color: #{$system-warning};
  // --button-warning-outline-hover-border: 2px solid #{$system-warning};
  // --button-warning-outline-hover-background: #{$system-warning};
  // --button-warning-outline-hover-color: #{$ui-light};

  // --button-warning-soft-border: 2px solid #{$system-warning-lighten-35};
  // --button-warning-soft-background: #{$system-warning-lighten-35};
  // --button-warning-soft-color: #{$system-warning};
  // --button-warning-soft-hover-border: 2px solid #{$system-warning};
  // --button-warning-soft-hover-background: #{$system-warning};
  // --button-warning-soft-hover-color: #{$ui-light};

  --button-danger-border: 2px solid #{$system-danger};
  --button-danger-background: #{$system-danger};
  --button-danger-color: #{$ui-light};
  --button-danger-hover-border: 2px solid #{$system-danger-darken-10};
  --button-danger-hover-background: #{$system-danger-darken-10};
  --button-danger-hover-color: #{$ui-light};

  // --button-danger-outline-border: 2px solid #{$system-danger};
  // --button-danger-outline-background: none;
  // --button-danger-outline-color: #{$system-danger};
  // --button-danger-outline-hover-border: 2px solid #{$system-danger};
  // --button-danger-outline-hover-background: #{$system-danger};
  // --button-danger-outline-hover-color: #{$ui-light};

  // --button-danger-soft-border: 2px solid #{$system-danger-lighten-35};
  // --button-danger-soft-background: #{$system-danger-lighten-35};
  // --button-danger-soft-color: #{$system-danger};
  // --button-danger-soft-hover-border: 2px solid #{$system-danger};
  // --button-danger-soft-hover-background: #{$system-danger};
  // --button-danger-soft-hover-color: #{$ui-light};

  // --button-dark-border: 2px solid #{$ui-dark-lighten-20};
  // --button-dark-background: #{$ui-dark-lighten-20};
  // --button-dark-color: #{$ui-light};
  // --button-dark-hover-border: 2px solid #{$ui-dark};
  // --button-dark-hover-background: #{$ui-dark};
  // --button-dark-hover-color: #{$ui-light};

  // --button-dark-outline-border: 2px solid #{$ui-dark};
  // --button-dark-outline-background: none;
  // --button-dark-outline-color: #{$ui-dark};
  // --button-dark-outline-hover-border: 2px solid #{$ui-dark};
  // --button-dark-outline-hover-background: #{$ui-dark};
  // --button-dark-outline-hover-color: #{$ui-light};

  // --button-dark-soft-border: 2px solid #{$ui-dark-lighten-85};
  // --button-dark-soft-background: #{$ui-dark-lighten-85};
  // --button-dark-soft-color: #{$ui-dark};
  // --button-dark-soft-hover-border: 2px solid #{$ui-dark};
  // --button-dark-soft-hover-background: #{$ui-dark};
  // --button-dark-soft-hover-color: #{$ui-light};

  // --button-light-border: 2px solid #{$ui-dark-lighten-95};
  // --button-light-background: #{$ui-dark-lighten-95};
  // --button-light-color: #{$ui-dark};
  // --button-light-hover-border: 2px solid #{$ui-dark-lighten-90};
  // --button-light-hover-background: #{$ui-dark-lighten-90};
  // --button-light-hover-color: #{$ui-dark};

  // --button-light-outline-border: 2px solid #{$ui-dark-lighten-90};
  // --button-light-outline-background: none;
  // --button-light-outline-color: #{$ui-dark};
  // --button-light-outline-hover-border: 2px solid #{$ui-dark-lighten-90};
  // --button-light-outline-hover-background: #{$ui-dark-lighten-90};
  // --button-light-outline-hover-color: #{$ui-dark};

  // --button-light-soft-border: 2px solid #{$ui-light};
  // --button-light-soft-background: #{$ui-light};
  // --button-light-soft-color: #{$ui-dark};
  // --button-light-soft-hover-border: 2px solid #{$ui-dark-lighten-95};
  // --button-light-soft-hover-background: #{$ui-dark-lighten-95};
  // --button-light-soft-hover-color: #{$ui-dark};

  // --button-small-border-radius: #{$border-radius-00};
  // --button-small-padding: #{$space-00} #{$space-01};
  // --button-small-line-height: #{$line-height-01};
  // --button-small-font-size: #{$font-size-01};
  // --button-small-font-weight: normal;
  // --button-small-font-family: #{$font-family-secondary};

  --button-large-border-radius: #{$border-radius-00};
  --button-large-padding: #{$space-05} #{$space-05};
  --button-large-line-height: #{$line-height-06};
  --button-large-font-size: #{$font-size-04};
  --button-large-font-weight: normal;
  --button-large-font-family: #{$font-family-primary};

  // --button-default-pill-border-radius: #{$border-radius-02};
}
