@use '../foundation/variables' as *;

[theme='theme-wm'] {
  --header-background: #{$brand-primary};
  --header-light-background: #{$ui-light};
  --header-height: 100px;
  --header-width: 100%;
  --header-position: relative;
  --header-box-shadow: none;
  --header-container-width: #{$max-width};
}
