@use '../foundation/variables' as *;

[theme='theme-wm'] {
  --body-margin: #{$space-00};
  --body-background: #{$brand-secondary};

  --page-background: #{$ui-light};
  --page-width: 100%;
  --page-min-height: 100vh;
}
