@use '../foundation/variables' as *;

[theme='theme-wm'] {
  --section-padding: #{$space-15} #{$space-03};
  --section-width: calc(100% - (#{$space-03} * 2));

  --section-mobile-padding: #{$space-07};
  --section-mobile-width: calc(100% - (#{$space-07} * 2));

  --section-xsmall-padding: #{$space-05} #{$space-00};
  --section-xsmall-width: calc(100% - (#{$space-03} * 2));

  --section-small-padding: #{$space-08} #{$space-00};
  --section-small-width: 100%;

  --section-large-padding: #{$space-08};
  --section-large-width: calc(100% - (#{$space-08} * 2));

  --section-xlarge-padding: #{$space-10};
  --section-xlarge-width: calc(100% - (#{$space-10} * 2));

  --section-container-width: #{$max-width};
  --section-container-margin: auto;

  --section-background-primary: #{$brand-primary};
  --section-background-secondary: #{$brand-secondary};
  --section-background-tertiary: #{$brand-tertiary};
  --section-background-light: #{$ui-dark-lighten-85};
  --section-background-dark: #{$ui-dark};
}
