@use '../foundation/variables' as *;

[theme='theme-ds'] {
  --form-margins: #{$space-09} #{$space-00} #{$space-00} #{$space-00};
  --form-mobile-margins: #{$space-10} #{$space-00} #{$space-00} #{$space-00};
  --form-gutters: #{$space-04};
}
