@use '../foundation/variables' as *;

[theme='theme-ds'] {
  --textarea-width: 100%;

  --textarea-label-font-family: #{$font-family-primary};
  --textarea-label-color: #{$ui-dark};
  --textarea-label-font-size: #{$font-size-02};
  --textarea-label-font-weight: bold;
  --textarea-label-margin-left: #{$space-01};
  --textarea-label-bottom: 176px;
  --textarea-label-transition: #{$transition-02};
  --textarea-label-position: absolute;

  --textarea-input-font-family: #{$font-family-primary};
  --textarea-input-color: #{$ui-dark};
  --textarea-input-background: #{$ui-light};
  --textarea-input-font-size: #{$font-size-02};
  --textarea-input-width: calc(100% - (#{$space-02} + #{$space-02} + 2px));
  --textarea-input-padding: #{$space-02};
  --textarea-input-border-top: 1px solid #{$ui-dark-lighten-65};
  --textarea-input-border-right: 1px solid #{$ui-dark-lighten-65};
  --textarea-input-border-bottom: 1px solid #{$ui-dark-lighten-65};
  --textarea-input-border-left: 1px solid #{$ui-dark-lighten-65};
  --textarea-input-margin-bottom: #{$space-09};
  --textarea-input-line-height: #{$line-height-02};
  --textarea-input-height: 120px;

  --textarea-focus-label-bottom: 176px;
  --textarea-focus-label-font-size: #{$font-size-02};
}
