@use '../foundation/variables' as *;

[theme='theme-ed'] {
  --header-background: #fff;
  --header-height: 90px;
  --header-width: 100%;
  --header-position: fixed;
  --header-box-shadow: #{$box-shadow-01};
  --header-container-width: #{$max-width};
}
