@use '../foundation/variables' as *;

[theme='theme-ed'] {
  --section-padding: #{$space-10} #{$space-02};
  --section-width: calc(100% - (#{$space-02} * 2));

  --section-mobile-padding: #{$space-03};
  --section-mobile-width: calc(100% - (#{$space-03} * 2));

  --section-xsmall-padding: #{$space-02};
  --section-xsmall-width: calc(100% - (#{$space-02} * 2));

  --section-small-padding: #{$space-05};
  --section-small-width: calc(100% - (#{$space-05} * 2));

  --section-large-padding: #{$space-08};
  --section-large-width: calc(100% - (#{$space-08} * 2));

  --section-xlarge-padding: #{$space-10};
  --section-xlarge-width: calc(100% - (#{$space-10} * 2));

  --section-container-width: #{$max-width};
  --section-container-margin: auto;

  --section-background-primary: #{$brand-primary-lighten-37};
  --section-background-secondary: #{$brand-secondary-lighten-35};
  --section-background-tertiary: #{$brand-tertiary-lighten-35};
  --section-background-light: #{$ui-dark-lighten-80};
  --section-background-dark: #{$ui-dark-lighten-20};
}
