@use '../foundation/variables' as *;

[theme='theme-ed'] {
  --textarea-width: 100%;

  --textarea-label-font-family: #{$font-family-primary};
  --textarea-label-color: #{$ui-dark};
  --textarea-label-font-size: #{$font-size-04};
  --textarea-label-font-weight: normal;
  --textarea-label-margin-left: #{$space-02};
  --textarea-label-bottom: 174px;
  --textarea-label-transition: #{$transition-02};
  --textarea-label-position: absolute;

  --textarea-input-font-family: #{$font-family-primary};
  --textarea-input-color: #{$ui-dark};
  --textarea-input-background: #{$ui-dark-lighten-80};
  --textarea-input-font-size: #{$font-size-04};
  --textarea-input-width: calc(100% - (#{$space-04} * 2));
  --textarea-input-padding: #{$space-04};
  // --textarea-input-border-top: 1px solid #{$ui-dark-lighten-85};
  // --textarea-input-border-right: 1px solid #{$ui-dark-lighten-85};
  // --textarea-input-border-bottom: 1px solid #{$ui-dark-lighten-85};
  // --textarea-input-border-left: 1px solid #{$ui-dark-lighten-85};
  --textarea-input-margin-bottom: #{$space-05};
  // --textarea-input-line-height: #{$line-height-02};
  --textarea-input-height: 100px;

  --textarea-focus-label-bottom: 174px;
  --textarea-focus-label-font-size: #{$font-size-04};
}
