@use '../foundation/variables' as *;

[theme='theme-wm'] {
  --dropdown-background: #{$ui-light};
  --dropdown-top: 40px;
  --dropdown-right: 8px;
  // --dropdown-left: initial;
  --dropdown-padding: #{$space-09};
  // --dropdown-border-radius: #{$border-radius-03};
  --dropdown-opacity: 0;
  --dropdown-transition: #{$transition-01};
  --dropdown-box-shadow: #{$box-shadow-02};
  --dropdown-open-top: 50px;
  --dropdown-open-opacity: 1;
}
