@use '../foundation/variables' as *;

[theme='theme-wm'] {
  --link-font-family: #{$font-family-primary};
  --link-font-size: #{$font-size-02};
  --link-font-weight: bold;
  --link-default-color: #{$ui-dark};
  --link-text-transform: none;
  // --link-text-letter-spacing: .26px;
  // --link-text-decoration: none;
  // --link-text-transition

  --link-hover-text-decoration: underline;

  --link-color-primary: #{$brand-primary};
  --link-color-secondary: #{$brand-secondary};
  --link-color-tertiary: #{$brand-tertiary};
  --link-color-light: #{$ui-light};
  --link-color-dark: #{$ui-dark};

  --link-small-font-size: #{$font-size-01};
  --link-large-font-size: #{$font-size-05};

  --link-inline-paragraph-color: #{$text-primary};
  --link-inline-paragraph-text-decoration: underline;
  --link-inline-paragraph-hover-text-decoration: none;
}
