<template>
  <div
    :style="'width:' + width + '; height:' + height + ';'"
    :class="[
      'image',
      { 'image--circle': circle },
      { 'image--border': border },
      { 'image--align-top': align === 'top' },
    ]"
  >
    <img class="image__image" :src="`${base}images/${image}`" v-if="image" />
  </div>
</template>

<script setup>
// This gives us access to the `base` config option
const base = import.meta.env.BASE_URL
</script>

<script>
export default {
  props: {
    image: String,
    height: String,
    width: String,
    padding: String,
    circle: Boolean,
    border: Boolean,
    align: String,
  },
  data() {
    return {}
  },
  methods: {},
}
</script>

<style lang="scss" scoped>
.image {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
  border-radius: var(--image-border-radius);
}
.image__image {
  object-fit: cover;
  min-height: 100%;
  min-width: 100%;
  object-position: center top;
}
.image--align-top {
  align-items: flex-start;
}

.image--circle {
  border-radius: 50% !important;
}
.image--border {
  border: var(--image-border);
}
</style>

<!-- Used in : AR, DS -->
