@use './variables' as *;

[theme='theme-ds'] {
  --color-brand-primary: #{$brand-primary};
  --color-brand-secondary: #{$brand-secondary};
  --color-brand-tertiary: #{$brand-tertiary};

  --color-ui-light: #{$ui-light};
  --color-ui-dark: #{$ui-dark};

  --color-system-info: #{$system-info};
  --color-system-success: #{$system-success};
  --color-system-warning: #{$system-warning};
  --color-system-danger: #{$system-danger};
}
