@use './variables' as *;

[theme='theme-ds'] {
  --quote-font-family: #{$font-family-primary};
  --quote-color: #{$brand-primary};
  --quote-font-size: #{$font-size-07};
  --quote-line-height: #{$line-height-07};
  --quote-font-weight: bold;
  --quote-margin: #{$space-09};
  --quote-padding: #{$space-09};
  --quote-text-align: center;

  --quote-decoration-background: none;
  --quote-decoration-width: 100%;
  --quote-decoration-height: 1px;
  --quote-decoration-left: -50%;

  --quote-left-width: 40%;
  --quote-left-margin: #{$space-00} #{$space-09} #{$space-09} #{$space-00};

  --quote-right-width: 40%;
  --quote-right-margin: #{$space-00} #{$space-00} #{$space-09} #{$space-09};
}
