@use './variables' as *;

[theme='theme-ds'] {
  --theme-switch-display: block;

  --stage-ar-display: none;
  --stage-ds-display: block;
  --stage-sd-display: none;
  --stage-ed-display: none;
  --stage-hv-display: none;
  --stage-wm-display: none;
  --stage-dl-display: none;
}
