@use '../foundation/variables' as *;

[theme='theme-ds'] {
  --icon-size: 18px;

  --icon-background-primary: #{$brand-primary};
  --icon-background-secondary: #{$brand-secondary};
  --icon-background-tertiary: #{$brand-tertiary};
  --icon-background-dark: #{$ui-dark};
  --icon-background-light: #{$ui-light};

  --icon-background-border: 1px solid #{$ui-dark-lighten-60};

  --icon-background-small-height: 18px;
  --icon-background-small-width: 18px;
  --icon-background-small-border-radius: 9px;
  --icon-small-size: 10px;

  --icon-background-medium-height: 28px;
  --icon-background-medium-width: 28px;
  --icon-background-medium-border-radius: 14px;
  --icon-medium-size: 18px;

  --icon-background-large-height: 40px;
  --icon-background-large-width: 40px;
  --icon-background-large-border-radius: 20px;
  --icon-large-size: 20px;

  --icon-color-primary: #{$brand-primary};
  --icon-color-secondary: #{$brand-secondary};
  --icon-color-tertiary: #{$brand-tertiary};
  --icon-color-dark: #{$ui-dark};
  --icon-color-light: #{$ui-light};
}
