@use '../foundation/variables' as *;

[theme='theme-ar'] {
  --dropdown-background: #{$ui-light};
  --dropdown-border: #{$border-00};
  --dropdown-width: 100%;

  --dropdown-top: 40px;
  --dropdown-right: 0;
  --dropdown-left: initial;
  --dropdown-padding: #{$space-05};
  // --dropdown-border-radius: #{$border-radius-03};
  --dropdown-opacity: 0;
  --dropdown-transition: #{$transition-01};
  --dropdown-box-shadow: none;
  --dropdown-open-top: 60px;
  --dropdown-open-opacity: 1;
}
