@use './variables' as *;

[theme='theme-dl'] {
  --paragraph-font-family: #{$font-family-secondary};
  --paragraph-font-size: #{$font-size-02};
  --paragraph-line-height: #{$line-height-02};
  --paragraph-color: #{$text-body};
  --paragraph-margin: #{$space-00} #{$space-00} #{$space-07} #{$space-00};

  // --paragraph-feature-font-size: #{$font-size-03};
  // --paragraph-feature-line-height: #{$line-height-03};
  // --paragraph-feature-color: #{$text-body};
  // --paragraph-feature-margin: #{$space-00};

  --paragraph-micro-font-size: #{$font-size-01};
  --paragraph-micro-line-height: #{$line-height-01};
  --paragraph-micro-color: #{$text-body};
  --paragraph-micro-margin: #{$space-00};

  // --paragraph-navigation-padding: #{$space-07} #{$space-00};
}
