@use './variables' as *;

[theme='theme-dl'] {
  --quote-font-family: #{$font-family-secondary};
  --quote-color: #{$brand-secondary};
  --quote-font-size: #{$font-size-07};
  --quote-line-height: #{$line-height-04};
  --quote-font-weight: normal;
  --quote-margin: #{$space-09} #{$space-00};
  --quote-padding: #{$space-09} #{$space-05};
  --quote-text-align: center;

  --quote-decoration-background: none;
  --quote-decoration-width: 0px;
  --quote-decoration-height: 0px;
  --quote-decoration-left: 0px;

  --quote-left-width: 50%;
  --quote-left-margin: #{$space-03} #{$space-05} #{$space-04} #{$space-00};

  --quote-right-width: 50%;
  --quote-right-margin: #{$space-03} #{$space-00} #{$space-04} #{$space-05};
}
