@use './variables' as *;

[theme='theme-hv'] {
  --divider-width: 100%;
  --divider-height: 1.5px;
  --divider-background: #{$ui-dark-lighten-85};
  --divider-margin: 50px 0;

  --divider-small-margin: 15px 0;

  --divider-decorative-height: 4px;
  --divider-decorative-width: 30px;
  --divider-decorative-margin: 20px 0;
  --divider-decorative-background: #{$brand-primary};
}
