@use './variables' as *;

[theme='theme-hv'] {
  --paragraph-font-family: #{$font-family-primary};
  --paragraph-font-size: #{$font-size-04};
  --paragraph-line-height: #{$line-height-03};
  --paragraph-color: #{$text-body};
  --paragraph-margin: #{$space-00} #{$space-00} #{$space-06} #{$space-00};

  --paragraph-micro-font-size: #{$font-size-03};
  --paragraph-micro-color: #{$text-body};
  --paragraph-micro-line-height: #{$line-height-03};
  --paragraph-micro-margin: #{$space-00};

  // --paragraph-navigation-padding: #{$space-07} #{$space-00};
}
