@use './variables' as *;

[theme='theme-hv'] {
  --quote-font-family: #{$font-family-primary};
  --quote-color: #{$brand-primary};
  --quote-font-size: #{$font-size-06};
  --quote-line-height: #{$line-height-06};
  --quote-font-weight: normal;
  --quote-margin: #{$space-06} #{$space-00};
  --quote-padding: #{$space-06} #{$space-00};
  --quote-text-align: center;

  --quote-decoration-background: #{$ui-dark-lighten-85};
  --quote-decoration-width: 150px;
  --quote-decoration-height: 2px;
  --quote-decoration-left: -75px;

  --quote-left-width: 60%;
  --quote-left-margin: #{$space-03} #{$space-04} #{$space-04} #{$space-00};

  --quote-right-width: 60%;
  --quote-right-margin: #{$space-03} #{$space-00} #{$space-04} #{$space-04};
}
