@use 'sass:color';

// Colors
$brand-primary: #ef106e;
$brand-secondary: #ffd800;
$brand-tertiary: #e1a026;

$ui-light: #ffffff;
$ui-dark: #000000;

$system-info: #3bb4ff;
$system-success: #0ae64c;
$system-warning: #e3e63d;
$system-danger: #e0000f;

$ui-dark-lighten-95: color.adjust($ui-dark, $lightness: 97%);
$ui-dark-lighten-85: color.adjust($ui-dark, $lightness: 85%);
$ui-dark-lighten-80: color.adjust($ui-dark, $lightness: 80%);
$ui-dark-lighten-55: color.adjust($ui-dark, $lightness: 55%);
$ui-dark-lighten-45: color.adjust($ui-dark, $lightness: 45%);
$ui-dark-lighten-35: color.adjust($ui-dark, $lightness: 35%);
$ui-dark-lighten-20: color.adjust($ui-dark, $lightness: 20%);
$ui-dark-lighten-05: color.adjust($ui-dark, $lightness: 5%);
$ui-dark-darken-10: color.adjust($ui-dark, $lightness: -10%);

$brand-primary-darken-10: color.adjust($brand-primary, $lightness: -10%);
$brand-primary-lighten-35: color.adjust($brand-primary, $lightness: 35%);

$brand-secondary-darken-10: color.adjust($brand-secondary, $lightness: -10%);
$brand-secondary-lighten-35: color.adjust($brand-secondary, $lightness: 35%);

$brand-tertiary-darken-10: color.adjust($brand-tertiary, $lightness: -10%);
$brand-tertiary-lighten-35: color.adjust($brand-tertiary, $lightness: 35%);

$system-info-darken-10: color.adjust($system-info, $lightness: -10%);
$system-info-lighten-35: color.adjust($system-info, $lightness: 35%);

$system-success-darken-10: color.adjust($system-success, $lightness: -10%);
$system-success-lighten-35: color.adjust($system-success, $lightness: 35%);

$system-warning-darken-10: color.adjust($system-warning, $lightness: -10%);
$system-warning-lighten-35: color.adjust($system-warning, $lightness: 25%);

$system-danger-darken-10: color.adjust($system-danger, $lightness: -10%);
$system-danger-lighten-35: color.adjust($system-danger, $lightness: 25%);

// Space
$space-00: 0px;
$space-01: 4px;
$space-02: 8px;
$space-03: 10px;
$space-04: 12px;
$space-05: 14px;
$space-06: 16px;
$space-07: 20px;
$space-08: 24px;
$space-09: 28px;
$space-10: 48px;
$space-11: 64px;
$space-12: 84px;
$space-13: 96px;
$space-14: 112px;
$space-15: 128px;

// Font Familys
$font-family-primary: 'Montserrat', sans-serif;

// Font Sizes
$font-size-01: 10px;
$font-size-02: 12px;
$font-size-03: 14px;
$font-size-04: 16px;
$font-size-05: 18px;
$font-size-06: 20px;
$font-size-07: 28px;
$font-size-08: 30px;
$font-size-09: 48px;

// Line Heights
$line-height-01: 16px;
$line-height-02: 18px;
$line-height-03: 22px;
$line-height-04: 30px;
$line-height-05: 32px;
$line-height-06: 36px;
$line-height-07: 42px;
$line-height-08: 48px;
$line-height-09: 60px;

// Font Colors
$text-body: $ui-dark-lighten-20;
$text-title: $ui-dark;
$text-subdued: $ui-dark-lighten-35;
$text-link: $brand-primary;
$text-primary: $brand-primary;
$text-secondary: $brand-secondary;
$text-tertiary: $brand-tertiary;

// Border Radius
$border-radius-00: 0;
$border-radius-01: 10px;
$border-radius-02: 40px;

// Transitions
$transition-01: all 0.3s ease-in-out;
$transition-02: all 0.4s ease-in-out;

// // Box Shadow
$box-shadow-00: none;
$box-shadow-01: 0 8px 25px 0 rgb(0 0 0 / 4%);
$box-shadow-02: 0 5px 30px 0 rgb(214 215 216 / 57%);

// Width
$max-width: 1170px;
