<template>
  <Page>
    <Header>
      <Stack direction="row" justify="spaceBetween">
        <Stack direction="row">
          <Heading size="5">ANNA ROBBINS</Heading>
        </Stack>

        <Stack direction="row" space="2">
          <Stack visibility="hide show@sm">
            <Link url="/design-system" text="Axiom Design System" newTab display="inline"> </Link>
          </Stack>

          <Stack v-click-outside="setClose">
            <Link url="" @click.native="setOpen()">
              <Icon icon="menu" color="dark" />
            </Link>
          </Stack>
        </Stack>
      </Stack>

      <Dropdown :open="isOpen">
        <Stack direction="column" space="1">
          <Link url="/" text="Home" size="large" display="inline"> </Link>
          <Link url="/portfolio/dallas" text="Dallas" size="large" display="inline"> </Link>
          <Link url="/portfolio/edison" text="Edison" size="large" display="inline"> </Link>
          <Link url="/portfolio/havelock" text="Havelock" size="large" display="inline"> </Link>
          <Link url="/portfolio/sedona" text="Sedona" size="large" display="inline"> </Link>
          <Link url="/portfolio/windermere" text="Windermere" size="large" display="inline"> </Link>
          <Stack visibility="show hide@sm">
            <Link
              url="/design-system"
              color="primary"
              text="Axiom Design System"
              size="large"
              display="inline"
            >
            </Link>
          </Stack>
        </Stack>
      </Dropdown>
    </Header>
    <Body>
      <slot></slot>
    </Body>
  </Page>
</template>

<script>
export default {
  data() {
    return {
      isOpen: false,
    }
  },
  methods: {
    setOpen() {
      this.isOpen = !this.isOpen
    },
    setClose() {
      this.isOpen = false
    },
  },
}
</script>

<style lang="scss" scoped></style>
