@use '../foundation/variables' as *;

[theme='theme-ar'] {
  --input-width: 100%;

  --input-label-font-family: #{$font-family-primary};
  --input-label-color: #{$ui-dark-lighten-60};
  --input-label-font-size: #{$font-size-04};
  --input-label-font-weight: normal;
  --input-label-margin-left: #{$space-03};
  --input-label-bottom: 40px;
  --input-label-transition: #{$transition-02};
  --input-label-position: absolute;
  --input-label-error-color: #{$system-danger};

  --input-input-font-family: #{$font-family-primary};
  --input-input-color: #{$ui-light};
  --input-input-background: #{$ui-dark-lighten-20};
  --input-input-font-size: #{$font-size-04};
  --input-input-width: calc(100% - (#{$space-03} + #{$space-03}));
  --input-input-padding: #{$space-03} #{$space-03} #{$space-03} #{$space-03};
  --input-input-border-top: #{$border-04};
  --input-input-border-right: #{$border-04};
  --input-input-border-bottom: #{$border-04};
  --input-input-border-left: #{$border-04};
  --input-input-margin-bottom: #{$space-05};
  --input-input-line-height: #{$line-height-02};

  --input-focus-label-bottom: 80px;
  --input-focus-label-font-size: #{$font-size-02};
  --input-focus-input-border-top: #{$border-03};
  --input-focus-input-border-right: #{$border-03};
  --input-focus-input-border-bottom: #{$border-03};
  --input-focus-input-border-left: #{$border-03};
}
