@use '../foundation/variables' as *;

[theme='theme-ar'] {
  --textarea-width: 100%;

  --textarea-label-font-family: #{$font-family-primary};
  --textarea-label-color: #{$ui-dark-lighten-60};
  --textarea-label-font-size: #{$font-size-04};
  --textarea-label-font-weight: normal;
  --textarea-label-margin-left: #{$space-04};
  --textarea-label-bottom: 167px;
  --textarea-label-transition: #{$transition-02};
  --textarea-label-position: absolute;
  --textarea-label-error-color: #{$system-danger};

  --textarea-input-font-family: #{$font-family-primary};
  --textarea-input-color: #{$ui-light};
  --textarea-input-background: #{$ui-dark-lighten-20};
  --textarea-input-font-size: #{$font-size-04};
  --textarea-input-height: 150px;
  --textarea-input-width: calc(100% - (#{$space-03} + #{$space-03}));
  --textarea-input-padding: #{$space-03} #{$space-03} #{$space-03} #{$space-03};
  --textarea-input-border-top: #{$border-04};
  --textarea-input-border-right: #{$border-04};
  --textarea-input-border-bottom: #{$border-04};
  --textarea-input-border-left: #{$border-04};
  --textarea-input-margin-bottom: #{$space-05};
  --textarea-input-line-height: #{$line-height-02};

  --textarea-focus-label-bottom: 207px;
  --textarea-focus-label-font-size: #{$font-size-02};
  --textarea-focus-input-border-top: #{$border-03};
  --textarea-focus-input-border-right: #{$border-03};
  --textarea-focus-input-border-bottom: #{$border-03};
  --textarea-focus-input-border-left: #{$border-03};
}
