<template>
  <PageTemplate>
    <Section>
      <Card size="large">
        <CardSection>
          <Stack direction="column" space="3">
            <Heading size="1" align="center">our blog</Heading>
            <Stack space="2" justify="center">
              <Link text="All" display="inline" color="primary" url="/sedona/blog" />
              <Paragraph>|</Paragraph>
              <Link text="Massage" display="inline" color="primary" url="/sedona/blog" />
              <Paragraph>|</Paragraph>
              <Link text="Beauty" display="inline" color="primary" url="/sedona/blog" />
              <Paragraph>|</Paragraph>
              <Link text="Therapy" display="inline" color="primary" url="/sedona/blog" />
              <Paragraph>|</Paragraph>
              <Link text="Specials" display="inline" color="primary" url="/sedona/blog" />
            </Stack>
          </Stack>
        </CardSection>
        <CardSection>
          <Stack direction="column" space="3" align="left">
            <Grid>
              <GridContainer size="12 6@md 4@lg">
                <Stack direction="column" space="3">
                  <Images height="350px" width="100%" image="theme-sd/blog1.jpg" />
                  <Stack direction="column" space="1">
                    <Heading size="4" color="tertiary" uppercase>Jan 14, 2022</Heading>
                    <Heading size="3">Oil Massage: All the Info</Heading>
                    <Paragraph align="center"
                      >Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean egestas magna
                      at porttitor vehicula nullam augue Lorem ipsum dolor sit.</Paragraph
                    >
                    <Button
                      label="Read more"
                      color="primary"
                      size="small"
                      url="/sedona/blog/post"
                    />
                  </Stack>
                </Stack>
              </GridContainer>
              <GridContainer size="12 6@md 4@lg">
                <Stack direction="column" space="3">
                  <Images height="350px" width="100%" image="theme-sd/blog2.jpg" />
                  <Stack direction="column" space="1">
                    <Heading size="4" color="tertiary" uppercase>Dec 3, 2021</Heading>
                    <Heading size="3">Sedona's Holiday Specials</Heading>
                    <Paragraph align="center"
                      >Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean egestas magna
                      at porttitor vehicula nullam augue Lorem ipsum dolor sit.</Paragraph
                    >
                    <Button
                      label="Read more"
                      color="primary"
                      size="small"
                      url="/sedona/blog/post"
                    />
                  </Stack>
                </Stack>
              </GridContainer>
              <GridContainer size="12 6@md 4@lg">
                <Stack direction="column" space="3">
                  <Images height="350px" width="100%" image="theme-sd/blog3.jpg" />
                  <Stack direction="column" space="1">
                    <Heading size="4" color="tertiary" uppercase>Aug 15, 2021</Heading>
                    <Heading size="3">Let's Talk Aromatherapy</Heading>
                    <Paragraph align="center"
                      >Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean egestas magna
                      at porttitor vehicula nullam augue Lorem ipsum dolor sit.</Paragraph
                    >
                    <Button
                      label="Read more"
                      color="primary"
                      size="small"
                      url="/sedona/blog/post"
                    />
                  </Stack>
                </Stack>
              </GridContainer>
              <GridContainer size="12 6@md 4@lg">
                <Stack direction="column" space="3">
                  <Images height="350px" width="100%" image="theme-sd/blog4.jpg" />
                  <Stack direction="column" space="1">
                    <Heading size="4" color="tertiary" uppercase>May 30, 2021</Heading>
                    <Heading size="3">All About Cupping</Heading>
                    <Paragraph align="center"
                      >Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean egestas magna
                      at porttitor vehicula nullam augue Lorem ipsum dolor sit.</Paragraph
                    >
                    <Button
                      label="Read more"
                      color="primary"
                      size="small"
                      url="/sedona/blog/post"
                    />
                  </Stack>
                </Stack>
              </GridContainer>
            </Grid>
          </Stack>
        </CardSection>
      </Card>
    </Section>
  </PageTemplate>
</template>

<script>
import PageTemplate from '@/views/projects/sedona/template/Page.vue'
export default {
  components: {
    PageTemplate,
  },
  props: {
    theme: String,
  },
  mounted() {
    let bodyElement = document.documentElement
    localStorage.setItem('theme', this.theme)
    bodyElement.setAttribute('theme', this.theme)
  },
}
</script>

<style lang="scss"></style>
